.fico-layout-content-section {
	height: 100%;
	padding: 50px;
	background-color: #f9d37a;
}
@media (max-width: 991px){
	.fico-layout-content-section {
		min-height: 100vh;
		padding: .5rem;
	}
}
@media (max-width: 767px){
    .fico-layout-content-section {
        min-height: 100vh;
        padding: 0px;
    }
}


.block-section{
	padding: 3rem;
	
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	min-height: 600px;
}