@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;140;180;260;360;650&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro');
@import url('https://fonts.cdnfonts.com/css/corbel');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

/* 나눔스퀘어 */
@font-face {
	font-family: 'NanumSquare';
	font-weight: 300;
	src: local('NanumSquareL'), url('https://static.findsvoc.com/font/NanumSquareL.woff2');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 400;
	src: local('NanumSquareR'), url('https://static.findsvoc.com/font/NanumSquareR.woff2');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 700;
	src: local('NanumSquareB'), url('https://static.findsvoc.com/font/NanumSquareB.woff2');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 800;
	src: local('NanumSquareEB'), url('https://static.findsvoc.com/font/NanumSquareEB.woff2');
}

/* 함초롱돋움 */
@font-face {
    font-family: 'HCRDotum';
    src: local('HCRDotum'), url('https://static.findsvoc.com/font/HCRDotum.woff2');
    font-weight: normal;
    font-style: normal;
}
/* 나눔바른펜(구문분석 gcomment 사용) */
@font-face {
    font-family: 'NanumBarunpen';
    src: local('NanumBarunpen'), url('https://static.findsvoc.com/font/NanumBarunpen.woff2');
    font-weight: normal;
    font-style: normal;
}
/* 나눔바른고딕 */
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src: local('NanumBarunGothicLight'), url('https://static.findsvoc.com/font/NanumBarunGothicWebLight.woff2');
}
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src: local('NanumBarunGothic'), url('https://static.findsvoc.com/font/NanumBarunGothicWeb.woff2');
}
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src: local('NanumBarunGothicBold'), url('https://static.findsvoc.com/font/NanumBarunGothicWebBold.woff2');
}


/* 리디 바탕 */
@font-face {
    font-family: 'RIDIBatang';
    font-style: normal;
    font-weight: normal;
    src: local('RIDIBatang'), url('https://static.findsvoc.com/font/RIDIBatang.woff2');
}
/* 리디 바탕(영어) */
@font-face {
    font-family: 'RIDIBatang_ENG';
    font-style: normal;
    font-weight: normal;
	unicode-range:U+0041-005A, U+0061-007A;
    src: local('RIDIBatang'), url('https://static.findsvoc.com/font/RIDIBatang.woff2');
}
.nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
}