<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AutoPlayTest 화면용 카피</title>
</head>
<body>
	<div class="copy-block">
		<!-- 1 slide-->
		<div class="swiper-slide row g-0" data-keep-word-id="">
			<span class="data-save-date position-absolute top-0 end-0 col-auto m-3 fs-6">보관일(yyyy.MM.dd(E))</span>
			<div class="word-unit-section col-12 position-relative">
				<div class="card-shape-section">
					<span class="data-word-title title fs-1">
						run
					</span>
					<div class="word-conjs-container">
						<span class="data-word-conjs">append - appended - appending</span>
					</div>
					<div class="data-phonetic phonetic fs-5">발음기호</div>
					<div class="word-sense-list-container mt-5">
						<div class="one-part-unit-section fs-6">
							<span class="part">v.</span>
							<span class="meaning">달리다, 운영하다.</span>
						</div>
						
					</div>
					<div class="position-absolute top-50 start-50 translate-middle">
						<button type="button" class="js-pause display-hover btn fas fa-4x fa-pause"></button>
					</div>
				</div>	<!-- end of card-shape-section -->
			</div><!-- end of word-unit-section -->
			<div class="example-sentence-section col-12 position-relative">
				<div class="example-sentence-section-cover">
					<div class="eng" style="display: none;">
						She used to <b class="word">run</b> when she was at college.
					</div>
					<!-- <div class="workbook-title position-absolute bottom-0 end-0 m-2 fst-italic fs-7 text-secondary" style="display: none;">2023수능</div> -->
					<div class="workbook-title text-end m-2 fst-italic fs-7" style="display: none;">워크북 타이틀</div>
					<div class="js-view-sentence position-relative" role="button" data-sid="">
						이 단어를 보관했던 나의 학습 문장<span class="ms-1 fas fa-mouse">"</span>
					</div>
				</div><!-- end of example-sentence-section-cover -->
			</div><!-- end of example-sentence-section -->
			<div class="empty-block-for-pagination" style="visibility: hidden;height:30px;"></div>
		</div>
		
		<div class="option-block col" data-bs-toggle="button">
			<button class="btn option"></button>
		</div>
	</div>
</body>
</html>
