<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AutoPlay 화면용 카피</title>
</head>
<body>
	<div class="copy-block">
		<div class="swiper-slide row g-0" data-keep-word-id="">
			<div class="word-unit-section col-12 position-relative">
				<div class="card-shape-section">
					<div class="data-save-date position-relative mb-2rem text-end fs-6 pt-2 pe-2 text-white">보관일(yyyy.MM.dd (e))</div>
					<div class="row g-0 col-12 ms-auto mt-0">
						<span class="data-word-title title fs-1 nanumgothic">
							run
						</span>
					</div>
					<div class="data-phonetic phonetic mb-4"></div>
					<!-- <div class="fs-6 word-conjs-container">
						<span class="word-conj-container mx-3">
							<span class="conj-text">3인칭 단수 현재</span>
							<span class="conj-text">과거형</span>
							<span class="conj-text">과거 분사</span>
							<span class="conj-text">현재 분사</span>
							<span class="data-word-conj"></span>
						</span>
					</div> -->
					<div class="word-sense-list-container row g-0 col-10 col-md-8 ms-auto mt-3 text-start">
						<div class="one-part-unit-section fs-6">
							<span class="part">품사.</span>
							<span class="meaning">단어 뜻 텍스트</span>
						</div>
						
					</div>
					<div class="position-absolute top-50 start-50 translate-middle">
						<button type="button" class="js-pause display-hover btn fas fa-4x fa-pause"></button>
					</div>
				</div><!-- end of card-shape-section -->
			</div><!-- end of word-unit-section -->
			<div class="example-sentence-section col-12 position-relative">
				<div class="example-sentence-section-cover">
					<span class="guide-text">플레이를 잠시 멈추고 아래 문장을 빠르게 독해해 보세요.</span>
					<div class="eng" style="display: none;">
						예문 <b class="word">예문에서 쓰인 단어</b> 예문 텍스트 
					</div>
					<div class="workbook-title text-end m-2 fst-italic fs-7" style="display: none;">워크북 타이틀</div>
				<div class="js-view-sentence position-relative" role="button" data-wid="" data-sid="">
					<div class="cover-text text-1" style="display: none;">
						<span class="text-yellow-400 fs-5"><i class="fas fa-lightbulb"></i> Tips of Memory Championship</span><br>
						<span class="fs-6">청각도 기억이다.<br>
						발음을 듣고 반드시 <b>소리내어</b> 따라하세요.</span>
						<span class="ms-1 fas fa-mouse">"</span>
					</div>
					<div class="cover-text text-2" style="display: none;">
						<span class="text-yellow-400 fs-5"><i class="fas fa-lightbulb"></i> Tips of Memory Championship</span><br>
						<span class="fs-6">
							연상법은 장기기억에 많은 도움이 됩니다.<br>
							현재 이 단어와 연결할 수 있는 다른 단어나 이미지를 떠올려보세요.<br>
							<b>떠올려보는 노력</b> 자체가 중요합니다.</span>
						<span class="ms-1 fas fa-mouse">"</span>
					</div>
					<div class="cover-text text-3" style="display: none;">
						<span class="text-yellow-400 fs-5"><i class="fas fa-lightbulb"></i> Tips of Memory Championship</span><br>
						<span class="fs-6">
							어느 순간 기계적 암기를 하고 있다고 느낀다면<br>
							테스트와 같은 <b>'기억 인출'</b> 수행하는 것이 더 낫습니다.</span>
						<span class="ms-1 fas fa-mouse">"</span>
					</div>
				</div>
				</div>
			</div>
			<div class="empty-block-for-pagination" style="visibility: hidden;height:30px;"></div>
		</div>		
	</div>
</body>
</html>
