<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AutoPlayTest 화면용 카피</title>
</head>
<body>
	<div class="copy-block">
		<!-- 빈 칸 어휘 고르기 -->
		<div class="swiper-slide eng-test row g-0" data-keep-word-id="" tabindex="-1">
			<div class="word-unit-section">
			<div class="card-shape-section p-3">
				<!-- 영문장 -->
				<div class="sentence-section col-12">
					<span class="eng ws-breakspaces"></span>
					<span class="eng border rounded pe-none bg-white me-2">
						<span class="invisible"></span>
					</span>
					<span class="eng ws-breakspaces"></span>
				</div>
				<!-- 한글 해석 -->
				<div class="kor-section col-12 mt-3" style="height: 20%">
					<span class="kor"></span>
				</div>
			</div><!-- end of -->
			</div><!-- end of word-unit-section -->

			<!-- 보기 -->
			<div class="options-cover">
				<div class="options-section col-12 position-relative row row-cols-4">
					
				</div>
			</div>
			<div class="empty-block-for-pagination" style="visibility: hidden;height:30px;"></div>
		</div>
		<!-- 해석에 맞는 단어 고르기 -->
		<div class="swiper-slide mapping-test row g-0" data-keep-word-id="" tabindex="-1">
			<div class="word-unit-section">
			<div class="card-shape-section p-3">
				<!-- 가이드 -->
				<div class="guide-section col-12" style="height: 20%;margin-top: 4rem;font-size: 1.125rem;">
					아래 한글문장을 영어문장으로 구성하기 위해<br>
					필요한 단어 중 <span class="option-count">0</span>개를 아래 보기에서 골라 보세요.
				</div>
				<!-- 한글 해석 -->
				<div class="kor-section col-12 mt-3" style="height: 40%;">
					<span class="kor" style="font-size: 1.25rem;color:#0dcaf0;"></span>
				</div>
			</div><!-- end of -->
			</div><!-- end of word-unit-section -->

			<!-- 보기 -->
			<div class="options-cover position-relative">
				<div class="options-section col-12 position-relative row row-cols-4">
					
				</div>
				<div class="choose-complete-section text-center" style="display: none;top: -17.5%;left: 50%;transform: translate(-50%, -50%);position: absolute;width: 25%;">
					<button type="button" class="js-next-slide btn rounded-2" 
					style="position: absolute;left: 0;top: 0;width: 100%;background: #0dcaf0;color: #fff;transform: rotateX(180deg);">
						<i class="fas fa-play me-2"></i>다음
					</button>
					<button type="button" class="js-choose-complete btn rounded-2" 
					style="position: absolute;left: 0;top: 0;width: 100%;background: #5169e6;color: #fff;">
						<i class="fas fa-check me-2"></i>선택완료
					</button>
				</div>
			</div>
			<div class="empty-block-for-pagination" style="visibility: hidden;height:30px;"></div>
		</div>
		
		<div class="option-block col">
			<button class="btn option shadow-none" data-bs-toggle="button"></button>
		</div>
	</div>
</body>
</html>
