<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My List 및 Test Result 화면용 카피</title>
</head>
<body>
	<div class="copy-block">
		<!-- keepWord 단위 -->
		<div class="memento-trace-block col-4">
			<div class="position-relative">
				<!-- 단어 관련 정보 -->
				<div class="word-part">
					<!-- 단어 타이틀, 메뉴 영역 -->
					<div class="word-section row g-0">
						<div class="col">
							<span class="word-title data-word-title fw-bold">word title</span>
						</div>
						<div class="col menu-block dropdown">
							<button class="memento-word-menu menu-icon fas fa-ellipsis-h" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							</button>
							<ul class="dropdown-menu">
								<li><a class="js-check-complete dropdown-item"><i class="fas fa-check me-2"></i>암기완료 체크</a></li>
								<li><a class="js-view-sentence dropdown-item"><i class="fas fa-quote-right me-2"></i>문장 보기</a></li>
								<li><a class="js-goto-workbook dropdown-item"><i class="fas fa-book me-2"></i>워크북 이동</a></li>
								<li><a class="js-get-luck dropdown-item" data-bs-toggle="tooltip"
								data-bs-title="매일 에그 획득을 시도해 보세요."><i class="fas fa-egg me-2"></i>Today's Luck</a></li>
							  </ul>
						</div>
					</div>
					<!-- 암기 횟수 프로그래스바 -->
					<div class="progress-section">
						<!-- -->
						<div class="row g-0 mb-2">
							<div class="col"><i class="fas fa-list me-1"></i>Progress</div>
							<div class="col text-end"><span class="data-test-count">0</span>/<span class="data-test-goal">10</span></div>
						</div>
						<!-- 프로그래스 바 -->
						<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
						data-bs-toggle="tooltip" data-bs-title="테스트 횟수/단위목표">
							<div class="progress-bar" style="width: 0%"></div>
						</div>
					</div>
					<!-- 킵한 날짜 -->
					<div class="save-date-section">
						<span class="save-date data-save-date" data-bs-toggle="tooltip" data-bs-title="단어 보관 날짜">keepDate</span>
					</div>
				</div>
				<div class="low-part position-relative">
					<!-- 달력 영역 -->
					<div class="calendar-section"></div>
					<!-- 예문 영역 -->
					<div class="sentence-section position-absolute top-50 start-50 translate-middle w-100" style="opacity: 0;">
						<button type="button" class="js-close-sentence btn position-absolute text-white fas fa-times end-0 bottom-100 m-2"
						data-bs-toggle="tooltip" data-bs-title="예문을 닫고 달력을 봅니다."></button>
						<span class="eng fs-4"></span>
					</div>
				</div>
			</div>
		</div>		
	</div>
</body>
</html>
