<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<!-- Container of templates -->
	<div>
		<span class="svoc-editor-badge badge fs-6 rounded-pill">New</span>
		<span class="svoc-editor-emblem position-absolute end-0 me-2 p-1 pb-0 rounded-pill pe-none">『 <b class="app-name-text">fico </b><b class="text-fc-red" style="font-size:.9rem;">SVOC Editor</b>™』</span>
		<div id="js-edit-toolbar" class="svoc-toolbar row g-2 btn-toolbar" role="toolbar">
			<div class="row g-0 col">
				<div class="btn-group d-block d-md-inline-flex row g-0 gx-2">
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: 1" value="s" style="background-color: #afb6e9;" 
							class="btn btn-outline-dark col-auto btn-sm">주어<span class="svoc-btn-marktext">S</span></button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: 2" value="rs" style="background-color: #cbcff1;"
							class="btn btn-outline-dark col-auto btn-sm">진주어<span class="svoc-btn-marktext">(진)s</span></button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: 3" value="ss" style="background-color: #ebecfa;"
							class="btn btn-outline-dark col-auto btn-sm">의미상주어<span class="svoc-btn-marktext">(의)s</span></button>
					</div>
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: 4" value="v" style="background-color: #f4a4cd;"
							class="btn btn-outline-dark col-auto btn-sm">동사<span class="svoc-btn-marktext">V</span></button>
					</div>
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: 5" value="o" style="background-color: #99ecff;"
							class="btn btn-outline-dark col-auto btn-sm">목적어<span class="svoc-btn-marktext">O</span></button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: 6" value="io" style="background-color: #adf0ff;"
							class="btn btn-outline-dark col-auto btn-sm">간접목적어<span class="svoc-btn-marktext">i.o.</span></button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: 7" value="do" style="background-color: #c2f4ff;"
							class="btn btn-outline-dark col-auto btn-sm">직접목적어<span class="svoc-btn-marktext">d.o.</span></button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: 8" value="ro" style="background-color: #d6f8ff;"
							class="btn btn-outline-dark col-auto btn-sm">진목적어<span class="svoc-btn-marktext">(진)o</span></button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: 9" value="po" style="background-color: #e5faff;"
							class="btn btn-outline-dark col-auto btn-sm">전치사 목적어<span class="svoc-btn-marktext">(전)o</span></button>
					</div>
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="role" title="단축키: 0" value="c" style="background-color: #dd99ff;"
							class="btn btn-outline-dark col-auto btn-sm">보어<span class="svoc-btn-marktext">C</span></button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: -" value="oc" style="background-color: #e9bdff;"
							class="btn btn-outline-dark col-auto btn-sm">목적보어<span class="svoc-btn-marktext">o.c.</span></button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: =" value="a" style="background-color: #f7e5ff;"
							class="btn btn-outline-dark col-auto btn-sm">(부)보충어<span class="svoc-btn-marktext">A</span></button>
					</div>
				</div>
				<div class="row g-2 my-auto">
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="wrap" title="단축키: Q" value="tor" style="background-color: #ffe699;"
							class="btn btn-outline-dark col-auto btn-sm">to부정사</button>
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="role" title="단축키: W" value="to" style="background-color: #fff9e5;"
							class="btn btn-outline-dark col-auto btn-sm">부정사 목적어<span class="svoc-btn-marktext">(부)o</span></button>
					</div>
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="wrap" title="단축키: E" value="ger" style="background-color: #ffe699;"
							class="btn btn-outline-dark col-auto btn-sm">동명사</button>
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="role" title="단축키: R" value="go" style="background-color: #fff9e5;"
							class="btn btn-outline-dark col-auto btn-sm">동명사 목적어<span class="svoc-btn-marktext">(동)o</span></button>
					</div>
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="wrap" title="단축키: T" value="ptc"  style="background-color: #ffe699;"
							class="btn btn-outline-dark col-auto btn-sm">분사</button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="role" title="단축키: Y" value="ptco" style="background-color: #ffeebd;"
							class="btn btn-outline-dark col-auto btn-sm">분사 목적어<span class="svoc-btn-marktext">(분)o</span></button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="wrap" title="단축키: U" value="ptcphr" style="background-color: #fff9e5;"
							class="btn btn-outline-dark col-auto btn-sm">분사구문</button>
					</div>
				</div>
				<div class="row g-2 my-auto">
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="wrap" title="단축키: A" value="phr" style="background-color: #f5cca3;"
							class="btn btn-outline-dark col-auto btn-sm">전치사구</button>
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="wrap" title="단축키: S" value="advphr" style="background-color: #f8dec3;"
							class="btn btn-outline-dark col-auto btn-sm">부사구</button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="wrap" title="단축키: D" value="adjphr" style="background-color: #fcf3e8;"
							class="btn btn-outline-dark col-auto btn-sm">형용사구</button>
					</div>
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" 
							data-mode="wrap" title="단축키: F<br>등위접속사로 연결되는 어구<br><span class='brkt conj-start'>(</span>A<span class='brkt conj-end'>)</span> and <span class='brkt conj-start'>(</span>B<span class='brkt conj-end'>)</span>" value="conj" style="background-color: #d9c6bf;"
							class="btn btn-outline-dark col-auto btn-sm">등위어</button>
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="wrap" title="단축키: G" value="ccls" style="background-color: #ece3df;"
							class="btn btn-outline-dark col-auto btn-sm">등위절</button>
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="wrap" title="단축키: H" value="pcls" style="background-color: #f5f1ef;"
							class="btn btn-outline-dark col-auto btn-sm">병렬절</button>
					</div>
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="wrap" title="단축키: K" value="ncls" style="background-color: #b5d6e3;"
							class="btn btn-outline-dark col-auto btn-sm">명사절</button>
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="wrap" title="단축키: L" value="acls" style="background-color: #c8e0ea;"
							class="btn btn-outline-dark col-auto btn-sm">형용사절</button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="wrap" title="단축키: ;" value="advcls" style="background-color: #daeaf1;"
							class="btn btn-outline-dark col-auto btn-sm">부사절</button>
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="wrap" title="단축키: J" value="pcl" style="background-color: #edf5f8;"
							class="btn btn-outline-dark col-auto btn-sm">삽입절</button>
					</div>
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom" 
						data-mode="cleft" title="It is ... that 강조구문" value="cleft"
						style="background-color: #ff9999;" class="btn btn-outline-dark col-auto btn-sm">It is..that<span class="svoc-btn-marktext">강조</span></button>
					</div>					
				</div>
			</div>
			<div class="col col-md-auto my-auto row g-0 navigation-btns">
					<div class="btn-group col-auto gx-2 my-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="mod" title="수식 (단축키: Z)" value="mod" 
							class="btn btn-outline-dark col-auto">
							<i class="fas fa-level-down-alt fa-flip-horizontal"></i>
						</button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="erasing" title="지우기 (단축키: X)"
							value="erasing" class="btn btn-outline-dark col-auto">
							<i class="fas fa-eraser"></i>
						</button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="comment" title="문법 코멘트 (단축키: C)" value="comment"
							class="btn btn-outline-dark col-auto">
							<i class="far fa-comment-dots"></i>
						</button>
					</div>
					<div class="btn-group col-auto row gx-2 my-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom"
							data-mode="undo" title="실행취소 (단축키: Ctrl + Z)" value="undo" 
							class="btn btn-outline-dark col-auto">
							<i class="fas fa-undo-alt"></i>
						</button>
						<button data-bs-toggle="tooltip" data-placement="bottom" 
							data-mode="redo" title="재실행 (단축키: Ctrl + Y)" value="redo"
							class="btn btn-outline-dark col-auto">
							<i class="fas fa-undo-alt fa-flip-horizontal"></i>
						</button>
					</div>
					
				<div class="btn-group col-auto row gx-2">
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom"
							title="저장 (단축키: Ctrl + S)" value="save"
							class="btn btn-outline-fico col-auto btn-lg">
							<i class="fas fa-save fa-2x"></i>
						</button>
					</div>
					<div class="btn-group col-auto">
						<button data-bs-toggle="tooltip" data-placement="bottom"
							title="편집 초기화 후 닫기" value="close"
							class="btn btn-outline-danger col-auto btn-lg">
							<i class="fas fa-times fa-2x"></i>
						</button>
					</div>
				</div>
			</div>			
		</div>
		<!-- ------------- semantics-result가 삽입될 위치 ----------------- -->
		<!-- svoc 편집 안내 메세지 -->
		<div class="semantic-edit-guide-msg mx-auto"></div>
		
		<!-- 명사절 성분 지정 박스 -->
		<div class="cls-role-menu btn-group position-absolute row">
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="s">주어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="rs">진주어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="o">목적어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="do">직접 목적어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="ro">진목적어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="c">보어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="oc">목적보어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="po">전치사 목적어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="to">to부정사 목적어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="go">동명사 목적어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="ptco">분사 목적어절</button>
			<button class="btn btn-outline-fico cls-role-btn col-auto" value="appo">동격절</button>
		</div>
		<!-- 명사절 성분 지정 박스 -->
		<div class="cls-conj-menu btn-group position-absolute">
			<button class="btn btn-outline-fico cls-conj-btn" value="nclc" data-bs-toggle="tooltip" title="종속절 내에서 아무 역할을 하지 않는 접속사입니다.">(기본)접속사</button>
			<button class="btn btn-outline-fico cls-conj-btn" value="interr" data-bs-toggle="tooltip" title="의문절을 이끌며 주절의 목적어,보어등의 역할을 합니다.">의문사절 접속사</button>
			<button class="btn btn-outline-fico cls-conj-btn" value="nrp" data-bs-toggle="tooltip" title="명사절을 이끄는 관계사입니다.">명사적 관계사</button>
		</div>
		<!-- 부정사 성분 지정 박스 -->
		<div class="tor-role-menu btn-group position-absolute row">
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="s">주어</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="rs">진주어</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="o">목적어</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="do">직접 목적어</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="ro">진목적어</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="c">보어</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="oc">목적보어</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="to">to부정사 목적어</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="go">동명사 목적어</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="ptco">분사 목적어</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="adjphr">형용사</button>
			<button class="btn btn-outline-fico inf-role-btn col-auto" value="advphr">부사</button>
		</div>
		<!-- 동명사 성분 지정 박스 -->
		<div class="ger-role-menu btn-group position-absolute row">
			<button class="btn btn-outline-fico ger-role-btn col-auto" value="s">주어</button>
			<button class="btn btn-outline-fico ger-role-btn col-auto" value="o">목적어</button>
			<button class="btn btn-outline-fico ger-role-btn col-auto" value="do">직접 목적어</button>
			<button class="btn btn-outline-fico ger-role-btn col-auto" value="ro">진목적어</button>
			<button class="btn btn-outline-fico ger-role-btn col-auto" value="c">보어</button>
			<button class="btn btn-outline-fico ger-role-btn col-auto" value="oc">목적보어</button>
			<button class="btn btn-outline-fico ger-role-btn col-auto" value="po">전치사 목적어</button>
			<button class="btn btn-outline-fico ger-role-btn col-auto" value="to">to부정사 목적어</button>
			<button class="btn btn-outline-fico ger-role-btn col-auto" value="go">동명사 목적어</button>
			<button class="btn btn-outline-fico ger-role-btn col-auto" value="ptco">분사 목적어</button>
		</div>
		<!-- 분사 성분 지정 박스 -->
		<div class="ptc-role-menu btn-group position-absolute">
			<button class="btn btn-outline-fico ptc-role-btn" value="adjphr">형용사</button>
			<button class="btn btn-outline-fico ptc-role-btn" value="advphr">부사</button>
		</div>
		
		<!-- 코멘트 수정 박스 -->
		<div class="edit-comment text-end position-absolute">
			<form class="btn-group">
				<input class="form-control" type="text" placeholder="↵" value="">
				<div class="btn-group ms-1">
					<button class="btn btn-sm btn-fico" type="submit">확인</button>
					<button class="btn btn-sm btn-outline-fico" type="button">취소</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
