<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>DOM 복사용 템플릿</title>
</head>

<body>
	<div>
		<!-- ====== [3.1 메세지 영역 ] ====== -->
		<div class="challenge-message">
			<div class="title-section">
				<div class="title-text">
					독해의 목적
				</div>
			</div>

			<div class="content">
				독해의 목적을 해석이라고 생각하는 사람이 있다<br>
				그래서 어떤 문장의 해석이 안되면<br>
				해설을 보고 다시 해석한 후 <br>
				이해했다고 보고 다음 문장으로 넘어간다.<br>
				<br>
				어떤 이는 문제 푸는 데<br>
				걸리적 거리지 않는 문장은<br>
				잘 몰라도 신경 쓰지 않는다.<br>
				<br>
				현실의 목적때문에 어쩔 수 없다고 하더라도<br>
				<br>
				쉽게 해석되지 않는 문장을 만날 때<br>
				서두르지 말고 문장을 꼼꼼히 들여다보라.<br>
				<br>
				구조를 파악하고<br>
				부족한 어휘를 기록하고 익히는 것이<br>
				그 문장이 당신에게 다가온 이유이다.<br>

				<div class="core-msg-block">
					구조와 어휘가 익숙해질 때까지 반복 학습할 수 있도록 <b>워크북으로 정리</b>해 보세요.<br>
					<br>
					<span class="app-name-text">fico</span>가 함께 하겠습니다.
				</div>
			</div>
			
		</div>
		<!-- ----- [ 3.1 ] ----- -->
	</div>
</body>

</html>