
/**********************************************************
 *					폰트 
 **********************************************************/
body{
	font-family: 'Gill Sans', 'HCRDotum';
	font-size: 14px;
}

h3{
	font-size: 1.2rem;
	font-weight: 600;
	font-family: 'Nunito Sans', 'NanumSquare','나눔바른고딕';
	margin: 1rem 0 0.5rem;
}

/**********************************************************
 *					토큰 트리 
 **********************************************************/
.tokentree-result {
	margin-top: 2rem;
	overflow-x: scroll;
	line-height: normal;
}
.tokentree-result table {
	font-family: 'consolas';
	border-collapse: separate;
}

.tokentree-result .node {
	background-color: #ffffff;
	border: solid 1px #1A1A34;
}

.tokentree-result .node-label {
	font-size: 14px;
	color: #C0504D;
}

.tokentree-result .node-index {
	color: #C0504D;
	font-size: 12px;
}

.tokentree-result .node-range {
	color: #1A1A34;
	font-size: 11px;
}

.tokentree-result .node-text {
	color: hsl(220deg 100% 30%);
	font-size: 15px;
}

.tokentree-result .node-part {
	color: #1A1A34;
	font-size: 13px;
}

/**********************************************************
 *					테이블
 **********************************************************/
 table th{
	background-color: #140162!important;
    font-size: 13.5px;
    line-height: 2.2rem;
 }