/**********************************************************
 *				battlebook_index.html  
 **********************************************************/
 .battlebook-index-section{
	position:relative;
	top : -5rem;
 }
 /* @media(max-width: 576px) {
	.battlebook-index-section{
		top : 0;
	 }
} */
 .battlebook-index-section .title-section .title-text{
	font-size: 1.1rem;
	font-family: Roboto,'Nunito Sans','Open Sans', 'Nanum Gothic';
	color: #303672;
	margin-bottom: 1.5rem;
 }
 .battlebook-index-section .title-section .title-text .num{
	color: #303672;
	font-size: 1.2em;
	font-family: Roboto,'Nunito Sans','Open Sans';
	font-weight: bolder;
 }
 .battlebook-index-section .title-section .title-text .upper-text{
	font-size: 0.5rem;
 }
 .battlebook-index-section .title-section .sub-title{
	font-size: 1rem;
	font-family: Roboto,'Nunito Sans','Open Sans';
 }
 .battlebook-index-section .title-section .sub-title .red-text{
	color: #b01a2c;
 }
 .battlebook-index-section .title-section .sub-title .text{
	color: #303672;
 }

/* 배틀북 목록 */
 .battlebook-index-section .book-list-section{
	/* box-shadow: rgb(185 185 185) 3px 1px 6px 0 inset,rgb(255 255 255 / 50%) -3px -3px 6px 1px inset; */
	/* background-color: white; */
	/* padding: 1rem 1.5rem;
	border-radius: 5px; */
	/* 5권에 맞도록 + 패딩값 */
 }
 .battlebook-index-section .book-list-section .book-unit{
	/* margin-right: 0.5rem; */
	margin-bottom: 0.5rem;
 }
 .battlebook-index-section .book-list-section .book-cover{
	/* max-width: calc((((1400px)/2) - 10rem - 5rem) / 5);
	width: calc((((100vw - 120px - 6rem)/2) - 7rem - 5rem) / 5);
	height: calc(((((100vw - 120px - 6rem)/2) - 7rem - 7rem) / 5) * 1.5);
	max-height: calc(((((1400px)/2) - 10rem - 5rem) / 5) * 1.5); */

	max-width: calc((((1400px)/ 2) - 10rem - 5rem)/ 5 + .7rem);
	width: calc((((1400px)/ 2) - 10rem - 5rem)/ 5 + .7rem);
	height: calc(((((1400px)/ 2) - 10rem - 5rem)/ 5 + .7rem) * 1.5);
	max-height: calc(((((1400px)/ 2) - 10rem - 5rem)/ 5 + .7rem) * 1.5);
 }
 @media(min-width: 1960px){
	.battlebook-index-section .book-list-section .book-cover{
		/* width: 6.125rem; */
		/* width : calc((((100vw - 120px - 6rem) / 2 ) / 5) - 2.607rem); */
		/* width : calc(100% / 5); */

	/*  for text
		max-width: calc((((1400px)/2) - 10rem - 2.5rem) / 5);
		width: calc((((100vw - 120px - 6rem)/2) - 7rem - 2.5rem) / 5);
		height: calc(((((100vw - 120px - 6rem)/2) - 7rem - 2.5rem) / 5) * 1.5); */

		max-width: calc((((1400px)/2) - 10rem - 5rem) / 5);
		width: 100%;
		/* width: calc((((100vw - 120px - 6rem)/2) - 7rem - 5rem) / 5); */
		/* height: calc(((((100vw - 120px - 6rem)/2) - 7rem - 7rem) / 5) * 1.5); */
		/* height: 150%; */
		max-height: calc(((((1400px)/2) - 10rem - 5rem) / 5) * 1.5);
		/* height: auto; */
	}
 }
 .battlebook-index-section .book-list-section .book-cover img{
	width: 100%;
	height: -webkit-fill-available;
 }
/* 북커버 뒤쪽 배경색 */ 
.battlebook-index-section .book-list-section .book-cover-bg{
	/* padding: 0.7rem; */
	/* background: linear-gradient(to bottom, #e5e3ed 70%, #546177); */
	display: inline-block;
}
 .battlebook-index-section .book-list-section .book-title-section{
	 /* width: 8.125rem; */
	 /* max-width: calc((((1400px)/2) - 2.5rem) / 5);
	 width : calc(((((100vw - 120px - 6rem)/2) - 7rem - 2.5rem) / 5) + 1.4rem); */

	 /* max-width: calc((((1400px)/2) - 5rem) / 5); */
	 /* width : calc(((((100vw - 120px - 6rem)/2) - 7rem - 5rem) / 5) + 1.4rem); */

	text-align: center;
	margin-top: .25rem;
	width: 100%;
	max-width: calc((((1400px)/ 2) - 10rem - 5rem)/ 5 + .7rem);
	overflow: hidden;
	height: 3rem;
	margin-bottom: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
 }

 @media(max-width: 992px) {
	.battlebook-index-section .book-list-section{
		margin-top: 1rem;
	}
	.battlebook-index-section .book-list-section .book-cover{
		max-width: none;
		/* width: calc(((100vw - 20px - 7rem) / 5) - 2.125rem); */
		width: 100%;
		height: calc((((100vw - 20px - 7rem) / 5) - 2.125rem) * 1.5);
	 }

	 .battlebook-index-section .book-list-section .book-title-section{
		max-width: none;
		/* width : calc((((100vw - 20px - 7rem) / 5) - 2.125rem) + 1.4rem); */
		/* width: 100%; */
		width: calc(100px + 1.5rem);
	 }
 }
 @media(max-width: 576px) {
	.battlebook-index-section .book-list-section{
		margin-top: 0;
	}
	.battlebook-index-section .book-list-section .book-cover{
		width: calc(((100vw - 1rem) / 3) - 2.25rem);
		height: calc((((100vw - 1rem) / 3) - 2.25rem) * 1.5);
		max-height: -webkit-fill-available;
	 }

	 .battlebook-index-section .book-list-section .book-title-section{
		width: calc(((100vw - 1rem) / 3) - 2.25rem + 1.4rem);
	 }
 }

 .battlebook-index-section .book-list-section .book-title-text{
	color: black;
	font-weight: bold;
}
/* 배틀북 안내 영역 */
.battlebook-index-section .battlebook-info-text-section{
	position:absolute;
	bottom: 2.25rem;
	margin-bottom: 0.25rem;
}
@media(max-width: 992px) {
	.battlebook-index-section .battlebook-info-text-section{
		position:relative;
		bottom: 0;
		margin-top:0.5rem;
	}
}

/* fico ssam 영역 */
.block-section.ssam-block{
	padding-top: calc(3rem + 10px)!important;
	margin-top: 3rem;
	min-height: 0;
}
.battlebook-index-section .ssam-book-list .title-text,
.battlebook-index-section .ssam-info-text-section .title-text{
	font-size: 1.1rem;
	color: #585174;
	font-weight: 600;
	margin-bottom: 0;
}
.battlebook-index-section .ssam-book-list .sub-title,
.battlebook-index-section .ssam-info-text-section .sub-title{
	font-family: 'HCRDotum';
	font-size: .75rem;
	color: #5c68b6;
}

.battlebook-index-section .ssam-book-list .book-list-section .book-unit{
	margin-bottom: 0;
}

/* 배틀북 조회 버튼 */
.battlebook-index-section .ssam-book-list .list-battlebook-btn{
	display: block;
	margin-bottom: 1rem;
	width: 100%;
	/* border: none;
	background-color: transparent;
	padding: 0; */
}
@media(max-width: 576px) {
	.battlebook-index-section .ssam-book-list .list-battlebook-btn{
		display: inline-block;
		width: calc((100% - 1rem)/3);
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
}



/* 등록 빈칸 */
.battlebook-index-section .book-unit.blank .book-cover{
	border: 3px dashed #d9d9d9;
	box-shadow: none;
	width: 10rem;
	height: 15rem;
	position: relative;
}
.battlebook-index-section .book-unit.blank .book-cover::before{
	font-family: "Font Awesome 5 Free";
	content: "\f055";
	font-size: 3rem;
	font-weight: 900;
	color: #d9d9d9;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.battlebook-index-section .book-unit.blank .book-cover img{
	background-color: transparent;
}
.battlebook-index-section .book-unit.blank .book-cover img:hover{
	transform: none;
}


/* 로테이션되는 메세지 */
@font-face {
    font-family: 'HANBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.battlebook-index-section .input-example-section{
	border-radius: 10px;
	/*height: 100%;*/
	height: 20vh;
	position:relative;
	top: 5rem;
}
.battlebook-index-section .input-example-section .example-unit{
	position: absolute;
	top: 1.5rem;
	opacity: 0;
	width: 100%;
	font-size: 1.125rem;
	font-weight: bold;
	font-family: 'HANBatang';
}
.title-img-mark, .title-img-mark-last {
	/* margin-right:0 5px; */
	margin-bottom: 10px;
	width: 1rem;
 }
 .title-img-mark-last{
	transform: rotate(180deg);
 }
 @media (max-width: 767px) {
 	/* 입력 예시 */
	 .battlebook-index-section .input-example-section{
		margin-top: 0;
		height: 9rem;
	}
	.battlebook-index-section .input-example-section .example-unit{
		top: 0;
		text-align: left;
	}
 }
/**********************************************************
 *				add_battlebook.html  
 **********************************************************/
.add-battlebook-section .add-battlebook-area {
	width: calc(10rem * 1.5);
	height: calc(15rem * 1.5);
	background: #fff url(https://static.findsvoc.com/images/logo/main_logo_headonly.svg) center/cover no-repeat;
	opacity: .6;
	border: 2px dashed #9d9d9d;
	margin: auto;
}
.add-battlebook-section .add-battlebook-area .add-btn{
	height: calc(50% - 25px);
	display: block;
	text-align: center;
	transform: translate(0,100%);
	font-size: 50px;
	color: #9d9d9d;
}
@media(max-width: 768px) {
	.add-battlebook-section .add-battlebook-area {
		width: calc(10rem * 0.75);
	height: calc(15rem * 0.75);
	}
}
.add-battlebook-section .col-form-label{
	font-weight: bold;
	color: rgb(55, 55, 55);
}

/* 안내 모달 영역 */
/* P (public), T (protected), R (private) */
.open-type{
	padding-left: .5em;
	padding-right: .5em;
	font-family: 'HCRDotum';
}
.open-type.type-P{
	background-color:  rgb(13, 110, 253);
}
.open-type.type-T{
	background-color: rgb(255, 193, 7);
}
.open-type.type-R{
	background-color: rgb(220, 53, 69);
}
.open-type.type-M{
	background-color: #198754;
}
/**********************************************************
*				edit_battlebook.html   
*				overview_battlebook.html  
 **********************************************************/
/**/
.overview-battlebook-section .battlebook-info-section,
.edit-battlebook-section .battlebook-info-section{
	background-color: var(--white);
	border-radius: 5px;
	padding: 20px;
}
 /* 배틀북 커버 영역 */
.overview-battlebook-section .book-cover-section,
.edit-battlebook-section .book-cover-section{
	width: 10rem;
	height: 15rem;
}
.overview-battlebook-section .text-section,
.edit-battlebook-section .text-section{
	padding: 0 20px;
	height: fit-content;
	height: -webkit-fit-content;
}
.overview-battlebook-section .text-section > div,
.edit-battlebook-section .text-section > div{
	margin-bottom: 1rem;
}
@media (max-width: 576px) {
	.overview-battlebook-section .battlebook-info-section,
	.edit-battlebook-section .battlebook-info-section{
		padding: 0.5rem;
	}

	.overview-battlebook-section .book-cover-section,
	.edit-battlebook-section .book-cover-section{
		margin:auto;
		margin-bottom: 2rem;
	}


	.edit-battlebook-section .text-section{
		padding: 0;
	}
}