@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/**********************************************************
 *				색상  
 **********************************************************/
:root {
	--dark-blue: #06101E;
	--blue: #203864;
	--light-blue: #0f2639;
	--lightest-blue: #003b59;
	--light-pueple: #353244;
	--green: #6FF1E3;
	--dark-white: #D7D7D7;
}

/* 복사 금지 */
.craft-layout-section{
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.craft-layout-content-section{
	/*height: 80vh;*/
	width: 60vw;
	margin: auto;
	position: relative;
	background-image: url(https://static.findsvoc.com/images/logo/main_logo_character_forbackground_anim.min.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: -30px;
	min-height: 100vh;
	transition: background-image 1s, background-color 1s;
}
@media(max-width: 768px){
	.craft-layout-content-section{
		height: 100%;
		width: 80vw;
		margin: 0 auto;
		background-size: 200%;
		background-position-y: 0px;
	}
}
@media(max-width: 576px){
	.craft-layout-content-section{
		width: 100%;
		/*margin: 7vh auto;*/
	}
}
body {
	/*background-color: var(--bg);*/
	background: linear-gradient(135deg, #5D68A7, #1B203A);
	color: #ffffff;
	min-height: 100vh;
}
/*
.eng{
	font-family: 'Open Sans', sans-serif;
}
*/
.bg-light-purple{
	background-color: var(--light-purple);
}

.bg-blue{
	background-color: var(--blue);
}

.rounded-6{
	border-radius : 1rem;
}
.rounded-7{
	border-radius : 1.5rem;
}
/* 텍스트 밑줄 설정 */
.text-decoration-underline{
	text-underline-offset: 0.35rem;
	text-decoration-thickness: 0.75px;
	text-decoration-color: #ececec;
}
u {
	text-underline-offset: 0.35rem;
	text-decoration-thickness: 0.75px;
	text-decoration-color: #ececec;
}

/* 폰트 설정 */
/*h4{
	font-family: 'Rubik', sans-serif;
}*/
.craft-layout-section{
	font-family: 'Rubik', 'HCRDotum', sans-serif;
}
/* 버튼 설정 */
.craft-layout-section .btn-fico{
	background: linear-gradient(to right, #5169e6, #1B203A);
	color: white;
	border-radius: 0;
	border: none;
	height: 60px;
}

.craft-layout-section .btn-outline-fico{
	background: white;
	color: #5169e6;
	border-radius: 0;
	border: 1px solid #5169e6;
	height: 60px;
}
.craft-layout-section .btn-outline-fico:hover{
	background: linear-gradient(to right, #5169e6, #2a2f47);
	color: white;
}
.craft-layout-section .btn-outline-fico.active{
	background-color: #5169e6;
	color: white;
}
.craft-layout-section .btn-outline-fico:disabled{
	opacity: 0.65;
}
@media(max-width: 992px){
	
}




/**********************************************************
 *				index.html  
 **********************************************************/
.sub-block{
	border-radius: 0;
	position: relative;
	/*background: linear-gradient(to right, #495493, #1B203A);*/
	background-color: #5169e6;
}
.sub-block .icon-section{
	position: absolute;
	right: 1.5rem;	
}
.sub-block .icon-section i{
	color: #dddddd;
}
.sub-block.disabled{
	background: #f0f0f0;
}
.sub-block.disabled .title,
.sub-block.disabled .sub-title,
.sub-block.disabled .icon-section i{
	color: #c8c8c8;
}
.craft-index-section{
	margin-top: 14rem;
}
@media (max-width: 576px){
	.craft-index-section{
		margin-top: 6rem;
	}
}
.craft-index-section .title{
	color: #fff;
}
.craft-index-section .sub-title{
	color: #EAEAF1;
	font-size: 0.8rem;
}

/**********************************************************
 *				play.html  
 **********************************************************/
/* 종료 모달 창 */
.exit-modal{
	color: #000000;
}
#battle-4 .eng .example{
	text-decoration: underline;
}

/* 선택한 답변 표시 */
.selected {
	color: #ED9954;
	font-weight: 500;
}
#battle-5 .selected{
	font-weight: 400;
}
/**/
.ask-section .right{
	color: #8be3aa !important;
	font-weight: 500;
	transition: color 0.25s;
}
.ask-section .wrong{
	color:#f44336 !important;
	font-weight: 500;
	transition: color 0.25s;
}
.ask-section .mod-guide-text{
	color: #ffb266;
	height: 2rem;
	line-height: 2rem;
	position: absolute;
	top: -2rem;
	left: 50%;
	text-align: center;
	width: 70vw;
	transform: translateX(-50%);
	background: linear-gradient(to right, #00000000, #000, #00000000);
}
#battle-4 .ask-section .right {
	text-decoration-color: #8be3aa;
}
#battle-4 .ask-section .wrong {
	text-decoration-color: #f44336;
}
.text-green{
	color: var(--green);
}
.bg-green{
	background-color: var(--green);
}

.border-stitch{
	border: 1.5px dashed white;
}
.under-stitch{
	border-bottom: 1.5px dashed var(--border);
}
/**/
.scrolling-section{
	border-radius: 10px;
	overflow-x: hidden;
	/*margin-top:1rem;*/
	padding: 2rem 0 60px 0;
	position: relative;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 11px 20px 0 rgba(0,0,0,.20);*/
	/*box-shadow: 0 -11px 20px 0 rgba(0,0,0,.2),0 11px 20px 0 rgba(0,0,0,.2);*/
	/*transition: all .2s cubic-bezier(0, 0, 0.2, 1);*/
}
/* 계급 승급 진행상황 프로그래스바 */
/*
.progress-bar-section{
	margin: 2rem 1rem;
}
*/
.progress-bar-block{
	height: 1.5rem;
	border-radius: 25px;
	/*background-color: var(--progress-bar-block-bg);*/
}
.progress-bar{
	border-radius: 25px;
	background-color: #5169e6;
	
}

/* 크래프트 플레이 상단 헤더 */
.craft-header-section{
	position: relative;
	top: 0;
	width: 100%;
	z-index: 10;
	/*background: linear-gradient(to right, #252A44, #35407F, #252A44);*/
	background: #252A44;
	color: #ffffff;
	height: 150px;
	/*transition: all .2s cubic-bezier(0, 0, 0.2, 1);*/
	padding: 0 1rem;
}
/* 크래프트 플레이 상단 헤더 - 영어 타이틀 */
.craft-header-section .title-section .title{
	font-family: 'Rubik', sans-serif;
}
.craft-header-section .title-section .title .eng{
	font-weight: 500;
	display: block;
}
/* 크래프트 플레이 상단 헤더 - 한글 타이틀 */
.craft-header-section .title-section .title .kor{
	font-size: 1rem;
	display: block;
}
/* 크래프트 플레이 상단 헤더 - 최소화 상태 */
.craft-header-section.min{
	position: fixed;
	height:35px;
	padding: 0 1rem;
	width: 60vw;
}
@media(max-width:768px){
	.craft-header-section.min{
		width: 100%;
	}
}

/*
.craft-header-section.min .title-section{
	position: relative;
	top: -20px;
}
*/
.craft-header-section.min .progress-bar-section{
	display: none;
}
/* 크래프트 플레이 상단 헤더 - 영어 타이틀 */
.craft-header-section.min .title-section .title .eng,
.craft-header-section .title-section .title .kor{
	display: inline;
}


/* 크래프트 플레이 상단 헤더 - 종료 버튼 */
.exit-button-section{
	position: relative;
}
.exit-button-section .exit-btn,
.save-button-section .save-btn{
	padding: 0;
	color: #455BF1;
}
/*
.exit-button-section .exit-btn{
	margin-left: 1rem;
}
.save-button-section .save-btn{
	margin-right: 1rem;
}
*/
/* 크래프트 플레이 상단 헤더 - 타이틀 */
.craft-header-section .title{
	font-size: 1.25rem;
}
.craft-header-section.min .title{
	font-size: 1rem;
}


/* 문제 질문 블럭 영역 */
.type-ask-block{
	margin: 0 1rem 2rem 1rem;
}


.battle-type-block,
.ask-block{
	min-height: 7rem;
	background-color: white;
	width: calc(50% - .5rem);
	padding: 5px;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);*/
	/*box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 7px 2px, rgba(60, 64, 67, 0.15) 0px 2px 7px 2px;*/
	/*background: rgba( 255, 200, 200, 0.3 );*/
	background: rgba( 255, 255, 255, 0.1 );
	/*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
	backdrop-filter: blur( 15px );
	-webkit-backdrop-filter: blur( 15px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.05 );
}
.ask-block{
	margin-left: auto;
}
.ask-block .ask{
	/*color: #2a2f47;*/
	color: #ffffff;
	font-weight: bold;
}

/* 배틀2 의 수식, 피수식 표시 */
#battle-2 .ask-section .sentence.eng span{
	position: relative;
}
#battle-2 .wrong.modificand::before,
#battle-2 .right.modificand::before,
#battle-2 .unselected.modificand::before {
	color: #ffb266;
	position: absolute;
	top: -.825rem;
	left: auto!important;
	/*right: .5rem;*/
	font-size: .75rem;
	min-width: 2rem;
	width: max-content;
	font-family: 'NanumBarunpen';
	content: '\d53c\c218\c2dd\c5b4';
}
#battle-2 .wrong.modifier::before,
#battle-2 .right.modifier::before,
#battle-2 .unselected.modifier::before {
	color: #ffb266;
	position: absolute;
	top: -.825rem;
	left: auto!important;
	/*right: .5rem;*/
	font-size: .75rem;
	min-width: 2rem;
	width: max-content;
	font-family: 'NanumBarunpen';
	content: '\c218\c2dd\c5b4';
}
/*
.battle-type-block{
	transform: translateY(25%);
}
*/
.battle-type-block{
	color: #ffffff;
}
.battle-type-block .battle-type-text{
	color: #EAEAF1;
	font-size: 0.7875rem;
	font-weight: 800;
	vertical-align: top;
}
/* 문제 영역 */
.ask-section{
	min-height: 6rem;
	padding : 1rem;
	margin-bottom: 2rem;
	background: linear-gradient(to right, #4f9ca7, #1f4675);
	word-break: break-word;
	color: white;
	position: relative;
}
.ask-section .eng{
	font-size: 1.25rem;
}
/* 다음 버튼 */
/*
.next-btn-section{
	position: fixed;
	bottom: 1rem;
	width: 100%;
	z-index: 1000;
}
*/
.next-btn-section .next-btn{
   position: fixed;
   bottom: 1rem;
   z-index: 1000;
   width: 55%;
   left:110%; 
   outline:none;
}
/* 해설 상세보기 영역 */
.explain-section{
	border-radius: 10px;
	padding: 2rem 1rem 1rem 1rem;
	background: #F6F5F8;
	color: #000000;
}

.explain-section > div:last-child{
	margin-bottom: 0;
	border-bottom: none;
}
/* 해설 상세보기 영역 - 추가 정보가 없는 경우 안내 메세지 */
.explain-section .empty-text{
	font-size: 0.9rem;
	color: gray;
}

.explain-section .trans-section, 
.explain-section .words-section, 
.explain-section .comment-section, 
.explain-section .svoc-section{
/*	border-radius: 5px;*/
	background-color: #ffffff;
	margin-top: 4px;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 0px inset;
}
.explain-section .trans-section.show, 
.explain-section .words-section.show, 
.explain-section .comment-section.show, 
.explain-section .svoc-section.show{
	min-height: 100px;
}
/* 해설 상세보기 - 해설 영역 pre 태그의 폰트 지정 */
.explain-section .comment-section{
	font-family: 'Rubik', 'HCRDotum', sans-serif;
	font-size: 1rem;
	white-space: pre-wrap;
}
.explain-section .block{
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	position: relative;
	/*border-bottom: 1px solid #ececec;*/
	word-break: break-all;
}
/*
.explain-section .block:before{
	content : "";
	position: absolute;
	left    : 1rem;
	bottom  : 0;
	height  : 1px;
	width   : calc(100% - 2rem); 
	border-bottom: 2px solid #ececec;
}
*/
.explain-section .title .btn{
	/*font-size: 1.125rem;*/
	height: auto;
	background-color: #5169E6;
	border: none;
	color: #fff;
	padding: 0.25rem 0.5rem;
	min-width: 5.25rem;
	font-weight: bold;
}
/*
.explain-section .svoc-section{
	padding-bottom: 50px;
}
*/

/* 해설 상세보기 - 해석 */
.explain-section .trans-section .trans-text{
	display: block;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.explain-section .trans-section>.row:last-child{
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.trans-section .user-trans::before{
	font-family: "Material Icons";
	content: '\e7fd';
	font-size: 1.25rem;
}
.trans-section .ai-trans::before {
	font-family: "Material Icons";
	/*content: '\ea4a';*/ 
	content:'\f02e';
	font-size: 1.25rem;
}
.trans-section .ai-trans:nth-child(4n) { color: #03b4d0;}
.trans-section .ai-trans:nth-child(4n+1) { color: #ED9954}
.trans-section .ai-trans:nth-child(4n+2) { color: #2acd18;}
.trans-section .ai-trans:nth-child(4n+3) { color: #cd188e;}


/* 해석 상세보기 - 단어 */
.explain-section .one-word-unit-section{
	display: inline-block;
	padding-right:0.9125rem;
}
.explain-section .one-word-unit-section:first-child{
	margin-left: 0;
}
.explain-section .one-word-unit-section .title{
	font-family: "Apple SD Gothic Neo","Segoe UI";
	color: #30386e;
	font-size: 15px;
	margin-right: 0.25rem;
	font-weight: 700;
}
.explain-section .one-word-unit-section .part{
	font-family: "Apple SD Gothic Neo","Segoe UI";
	color: #019c9e;
	font-size: 13px;
	vertical-align: baseline;
	display: contents;
	width: 100%;
	text-align: center;
}
.explain-section .one-word-unit-section .meaning{
	font-size: 12.6px;
	word-break: keep-all;
	color: #636363;
	margin-left: 0.25rem;
}
@media(max-width: 768px){
	.explain-section .one-word-unit-section .title{
		font-size: 0.9125rem;
	}
	.explain-section .one-word-unit-section .part{
		font-size: 0.8rem;
	}
	.explain-section .one-word-unit-section .meaning{
		font-size: 0.8725rem;
	}
}
/* 보기 버튼 영역 */
.example-btn-section{
	padding: 0 1rem;
	text-align: center;
	/*background: linear-gradient(to right, #49549D, #393E58);*/
}
.example-btn-section .btn{
	font-size: 1.125rem;
	height: auto;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
	color: #fff;
	
	background: #4e578396;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border: 1px solid rgba( 255, 255, 255, 0.05 );
}
.example-btn-section .btn:last-child{
	margin-right: 0;
}
/* 보기 버튼 영역 - 정답 오답 표시 */
.example-btn-section .right{
	
}
.example-btn-section .wrong{
	
}
.craft-layout-section .arranged-examples .btn:hover,
.craft-layout-section .arranged-examples .btn.active{
	color: #5169e6;
	background: #ffffff;
}
.craft-layout-section .example-btn-section .btn:hover,
.craft-layout-section .example-btn-section .btn.active{
	color: #ffffff;
	background: #5169e6;
}
#battle-5 .example-btn-section .btn:hover{
	background-color: #5169e6;
	color: #fff;
}
#battle-6 .example-btn-section{
	margin-bottom: 2rem;
	padding: 1rem;
	background: #4e578396;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border: 1px solid rgba( 255, 255, 255, 0.05 );
}
#battle-6 .example-btn-section input{
	margin: 0 2px;
	background: none;
	border: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	outline:none;
}
#battle-6 .example-btn-section input.right{
	color: #8be3aa;
	border-bottom-color: #8be3aa;
}
#battle-6 .example-btn-section input.wrong{
	color: #f44336;
	border-bottom-color: #f44336;
}
.craft-layout-section .example-btn-section .btn.selected{
	opacity: 0.25;
}
/* 선택한 보기 영역 */
.arranged-examples{
	padding: 0 1rem;
	margin-bottom: 2rem;
	text-align: center;
	/*background: linear-gradient(to right, #49549D, #393E58);*/
}
.arranged-examples .full-sentence{
	font-size: 1.25rem;
	color: #ffffff;
	margin-bottom: 2rem;
}
.arranged-examples .btn-outline-fico {
	height: auto;
	font-size: 1.125rem;
	/*padding: 0.25rem 0.5rem;*/
	background-color: #5169e6;
	color: #ffffff;
	border: none;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
}
.arranged-examples .btn-outline-fico.wrong {
	background-color: #f44336;
}
.arranged-examples .btn:hover{
	background-color: #5A6497;
	color: #fff;
}

/* 간단한 질문 보기 영역 */
.simple-ask-block{
	text-align: center;
	font-size: 1.125rem;
	word-break: keep-all;
}

/* 배틀 결과 표시 메세지 */
.craft-header-section .result-toast{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	border-width: 0;
	overflow: hidden;
	bottom: 0; 
	width: 50%;
	background-color: #252A44;
	border-radius: 0 0 1rem 1rem;
	visibility: hidden;
	align-items: center;
}




/**********************************************************
 *				craft_menu.html  
 **********************************************************/
/* 워크북 메뉴 */
.workbook-menu-section{
	position: absolute;
	top: 6rem;
	right: 6rem;
	width: calc(100% - 12rem);
	padding: 0;
	/* background-color: #8f1a5a; */
	/* border: 1.5px solid #585174; */
	/* box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 1px inset; */
	/* border-radius: 10px; */
	z-index: 1000;
}
.workbook-menu-section a{
	text-decoration: none;
	color: var(--fc-purple)!important;
}
.workbook-menu-section form{
	color: var(--fc-purple)!important;
}
.workbook-menu-section > *{
	padding: 10px;
	font-size: 25px;
	vertical-align: text-bottom;
}

/* 메뉴 아이콘 영역 */
.workbook-menu-section .menu-icon-section .navbar-nav{
	background-color: #d8d9e9;
	/* border: 1.5px solid #585174; */
	/*box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 1px inset;*/
	border-radius: 10px;
	padding: 0 1.5rem;
}

/* 이미지 타입의 아이콘(나의 서재) 스타일 지정*/
.workbook-menu-section .menu-icon-section .mylibrary-icon::before{
	content: '';
    mask: url(https://static.findsvoc.com/images/app/icons/mylibrary.svg) center/cover no-repeat;
    -webkit-mask: url(https://static.findsvoc.com/images/app/icons/mylibrary.svg) center/cover no-repeat;
    background-color: currentColor;
    display: inline-block;
    width: inherit;
    height: inherit;
}

/* 현재 페이지에 따라 메뉴 색상 체크 */
.workbook-menu-section .menu-icon-section ul .nav-item.active a .icon,
.workbook-menu-section .menu-icon-section ul .nav-item.active form .icon{
	color: #5c68b6!important;
}
@media (max-width: 767px) {
	.workbook-menu-section .menu-icon-section ul .nav-item.active a .text,
	.workbook-menu-section .menu-icon-section ul .nav-item.active form .text{
		color: #5c68b6!important;
	}
}
	
/* PC에서 워크북 메뉴 스타일 */
@media (min-width: 768px) {
	/* 메뉴 아이콘 */
	.workbook-menu-section .menu-icon-section .nav-item{
		padding: 0 .5rem;
		font-size: 25px;
		vertical-align: text-bottom;
		
		position: relative;
		width: 50px;
		height: 60px;
		z-index: 2;
	}
	
	.workbook-menu-section .menu-icon-section ul li:hover{
		width: 90px;
	}
	
	.workbook-menu-section .menu-icon-section .nav-item a,
	.workbook-menu-section .menu-icon-section .nav-item form{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}
	.workbook-menu-section .menu-icon-section ul li a .icon,
	.workbook-menu-section .menu-icon-section ul li form .icon{
		color: var(--fc-purple);
		position: relative;
		display: block;
		transition: 0.5s;
		font-size: 1.75rem;
		transform: translateY(25%);
	}
	/* qna 아이콘 크기 조정 */
	.workbook-menu-section .menu-icon-section ul li a .qna-icon{
		font-size: 1.75rem;
	}
	.workbook-menu-section .menu-icon-section ul li:hover a .icon,
	.workbook-menu-section .menu-icon-section ul li:hover form .icon{
		transform: translateY(-30px);
		color: #5c68b6!important;
	}
	/* 이미지인 아이콘(나의 서재) 색상 변경 */
/*	.workbook-menu-section .menu-icon-section ul li:hover a .mylibrary-icon{
		filter: opacity(0.7) drop-shadow(0 0 0 #5c68b6);
	}*/
	.workbook-menu-section .menu-icon-section ul li:hover a .book-icon,
	.workbook-menu-section .menu-icon-section ul li:hover a .pencil-icon{
		color: #5c68b6!important;
	}
	.workbook-menu-section .menu-icon-section ul li a .text,
	.workbook-menu-section .menu-icon-section ul li form .text{
		display: none;
		position: absolute;
		background: #5c68b6;
		color: #f9f9ff;
		padding: 2px 7px;
		border-radius: 12px;
		font-size: 1rem;
		letter-spacing: 0.05em;
		transition: 0.5s;
		/*opacity: 0;*/
		transform: translateY(40px);
		width:90px;
		font-size:0.75rem;
	}
	.workbook-menu-section .menu-icon-section ul li:hover a .text,
	.workbook-menu-section .menu-icon-section ul li:hover form .text{
		display: block;
		transform: translateY(7px);
		opacity: 1;
	}
	
	/* */
	.workbook-menu-section .indicator{
		display: none;
		position: absolute;
		top: -38%;
		width: 70px;
		height: 70px;
		background: #d8d9e9;
		border-radius: 50%;
		z-index: 1;
		transition: 1s;
	}
	.workbook-menu-section .indicator::before{
		content: '';
		position: absolute;
		top: 5px;
		left: -28px;
		width: 30px;
		height: 30px;
		background: transparent;
		border-radius: 50%;
		box-shadow: 15px 18px #d8d9e9;
	}
	.workbook-menu-section .indicator::after{
		content: '';
		position: absolute;
		top: 5px;
		right: -28px;
		width: 30px;
		height: 30px;
		background: transparent;
		border-radius: 50%;
		box-shadow: -15px 18px #d8d9e9;
	}
	.workbook-menu-section .menu-icon-section ul li:nth-child(1):hover ~ .indicator{
		display: block;
		transition: 0.5s;
		transform: translateX(calc(50px * 0 + 9px));
	}
	.workbook-menu-section .menu-icon-section ul li:nth-child(2):hover ~ .indicator{
		display: block;
		transition: 0.5s;
		transform: translateX(calc(50px * 1 + 9px));
	}
	.workbook-menu-section .menu-icon-section ul li:nth-child(3):hover ~ .indicator{
		display: block;
		transition: 0.5s;
		transform: translateX(calc(50px * 2 + 9px));
	}
	.workbook-menu-section .menu-icon-section ul li:nth-child(4):hover ~ .indicator{
		display: block;
		transition: 0.5s;
		transform: translateX(calc(50px * 3 + 9px));
	}
	.workbook-menu-section .menu-icon-section ul li:nth-child(5):hover ~ .indicator{
		display: block;
		transition: 0.5s;
		transform: translateX(calc(50px * 4 + 9px));
	}
	.workbook-menu-section .menu-icon-section ul li:nth-child(6):hover ~ .indicator{
		display: block;
		transition: 0.5s;
		transform: translateX(calc(50px * 5 + 9px));
	}
	.workbook-menu-section .menu-icon-section ul li:nth-child(7):hover ~ .indicator{
		display: block;
		transition: 0.5s;
		transform: translateX(calc(50px * 6 + 9px));
	}
	.workbook-menu-section .menu-icon-section ul li:nth-child(8):hover ~ .indicator{
		display: block;
		transition: 0.5s;
		transform: translateX(calc(50px * 7 + 9px));
	}
}
@media (max-width: 992px) {
	.workbook-menu-section .menu-icon-section ul li:hover a .icon,
	.workbook-menu-section .menu-icon-section ul li:hover form .icon{
		transform: translateY(-20px);
		color: #5c68b6!important;
	}
}
.workbook-menu-section .mylibrary-icon{
	position: relative;
	width: 1.75rem;
	height: 1.75rem;
	vertical-align: middle;
}
.workbook-menu-section .workbook-add{
	width: 50px;
}
.workbook-menu-section .menu-icon-section ul li a .add-icon{
	transform: translateY(0);
}
.workbook-menu-section .add-icon .book-icon{
	font-size: 1.75rem;
	position: relative;
}
.workbook-menu-section .add-icon .book-icon::after{
	content: "menu_book";
}
.workbook-menu-section .add-icon .pencil-icon{
	font-size: 1.75rem;
	position: absolute;
	left: 0.5rem;
	top: 0.75rem;
}
.workbook-menu-section .add-icon .pencil-icon::after{
	content: "edit";
}
.workbook-menu-section .qna-icon{
	font-size: 1.5rem;
	vertical-align: middle;
}
.workbook-menu-section #mobileDropdown.show{
	display: none;
}
@media (max-width: 991px) {
    .workbook-menu-section{
		top: 3rem;
		right: 3.5rem;
		width: calc(100% - 7rem);
		padding: 0;
		z-index: 1000;
	}
}
@media (max-width: 767px) {
    .workbook-menu-section{
		top: 2rem;
		right: 0rem;
		padding: 0;
		width: 100%;
	}
	
	.workbook-menu-section .dropdown-menu{
		width: 100%;
		border: none;
		font-size: 1.5rem;
		padding: 0;
	}
	.workbook-menu-section #mobileDropdown.show{
		display: block;
	}
	/* 메뉴 아이콘 영역 */
	.workbook-menu-section .menu-icon-section .navbar-nav{
		background-color: #fff;
		padding: 0 1rem;
		border-bottom: 1px solid #dee2e6;
		box-shadow: 0 9px 11px 0 rgba(0,0,0,.1),0 19px 19px 0 rgba(0,0,0,.1);
	}
	.workbook-menu-section .nav-item{
		position: relative;
	}
	.workbook-menu-section .nav-link:before {
		content : "";
		position: absolute;
		left    : 0.5rem;
		bottom  : 0;
		height  : 1px;
		width   : calc(100% - 1rem); 
		border-bottom: 1px solid #dee2e6;
	}
	.workbook-menu-section .dropdown-menu .nav-item:last-child .nav-link:before{
		border-bottom: none;
	}
	.workbook-menu-section .dropdown-menu .nav-item:last-child{
		border-bottom: none;
		margin-bottom: 0.5rem;
	}
	
	.workbook-menu-section .icon{
		width: 2rem;
	}
	.workbook-menu-section .mylibrary-icon{
		width: 1.75rem;
		height: 1.75rem;
	}
	.workbook-menu-section .mylibrary-icon::before{
		transform: translateY(20%);
	}
	
	.workbook-menu-section .workbook-add{
		width: auto;
	}
	
	.workbook-menu-section .menu-icon-section ul li a .text,
	.workbook-menu-section .menu-icon-section ul li form .text{
		font-size: 1.1rem;
		font-weight: bold;
		position: relative;
		background: none;
		padding: 0;
		margin-left: 0.5rem;
	}
	
	.workbook-menu-section .menu-icon-section ul li a .icon,
	.workbook-menu-section .menu-icon-section ul li form .icon{
		font-size: 1rem;
		text-align: center;
	}
	.workbook-menu-section .menu-icon-section ul li:hover a .icon,
	.workbook-menu-section .menu-icon-section ul li:hover form .icon{
		transform: translateY(0);
		color: #5c68b6!important;
		font-size: 1rem;
	}
	.workbook-menu-section .menu-icon-section .mylibrary-icon{
		display: inline-block;		
		width: 2rem;
	}
	.workbook-menu-section .menu-icon-section .mylibrary-icon::before{
		width: 1.25rem;
		height: 1.25rem;	
	}
	.workbook-menu-section .add-icon {
		display: inline-block;
		width: 2rem;
	}
	.workbook-menu-section .add-icon .book-icon,
	.workbook-menu-section .add-icon .pencil-icon{
		font-size: 1rem;
	}
	.workbook-menu-section .add-icon .pencil-icon{
		top: 0.5rem;
		left: 0.75rem;
	}
}
