/**********************************************************
 *				contract_free_membership.html
 **********************************************************/
.block-section{
	background-color: white;
	padding: 2rem 0;
}
/* 타이틀 영역 */
.block .title-section{
	font-weight: bold;
	margin-bottom: 1rem;
	color: var(--fc-purple);
}
.block .title-section .title-text{
	font-size: 1.1rem;
	font-weight: 600;
}
.block .title-section .title-text::before{
	content: '◼︎';
	color: var(--fc-purple);
}

.contract-free-membership-section .animation-section{
	margin-bottom: -3rem;
}
/* 계약서 모양 */
.contract-papper-block{
	border: 1px solid rgb(224, 224, 224);
	border-radius: 0.25rem;
	width: 75%;
	
	margin: 2rem auto 1rem auto;
	padding: 2rem;
	background-image: url('/images/app/freeMembership/contract_free_membership-2.png');
}
.contract-papper-block .contract-border{
	border: thick double var(--fc-purple);
	border-radius: 0.5rem;
	padding: 2rem;
}
.contract-papper-block .header{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 2rem;
}
.contract-papper-block .content {
	margin-bottom: 4rem;
	min-height: 20rem;
}
.contract-papper-block .content li{
	list-style: decimal;
	margin-bottom: 1rem;
}
.contract-papper-block .footer{
	/* font-size: 1.25rem; */
	text-align: center;
	position: relative;
}
.contract-papper-block .footer::after{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-image: url('/images/logo/logo_only_fico.svg');
}
/* 계약서 하단 폰 입력 폼 */
.contract-papper-block .input-tel{
	width: 50%;
	margin: 0.5rem auto 2rem auto;
}

@media(max-width: 576px){
	.contract-free-membership-section .animation-section{
		margin-bottom: 0;
	}
	.contract-papper-block{
		width: calc(100% - 1rem);
		margin: 1rem 0.5rem;
		padding: 1rem;
	}
	.contract-papper-block .contract-border{
		padding: 1.5rem;
	}
	.contract-papper-block .content{
		min-height: 15rem;
	}
}



/**********************************************************
*				free_membership_challenge1.html
**********************************************************/
.block-section.challenge-1 .image-section {
	margin-top: -5rem;
	margin-bottom: 2rem;
	text-align: center;
}
.block-section.challenge-1 .image-section img{
	width: 50%;
}


.check-sentence-block{
	/* border: solid 1.5px #ececec; */
	padding: 1rem;
	border-radius: 0.5rem;
	/* background-image: url('/images/app/freeMembership/contract_free_membership-3.jpg'); */
	/* background-color: rgb(213,223,252); */
	/* background-color: rgb(246,245,245); */
	background-color: #02849e33;
	font-size: 1.2rem;
}
.block-section.challenge-1 .form-check-label{
	font-weight: normal;
	margin-bottom: 0.5rem;
}
.block-section.challenge-1 .form-check:last-child .form-check-label{
	margin-bottom: 0;
}
/**/
.block-section.challenge-1 .check-sentence-block .form-check{
	padding-left: 2.5em;
}
.block-section.challenge-1 .check-sentence-block .form-check .form-check-input{
	margin-left: -2.5em;
}
/**/
.current-winner-block{
	text-align: center;
	margin-bottom: 0;
	border: 1px solid rgb(236,242,254);
	width: fit-content;
	width: -moz-fit-content;
	padding: 2rem;
	border-radius: 0.5rem;
	background-color: var(--fc-purple);
	z-index: 100;
}
.current-winner-block .title{
	font-weight: bold;
	font-size: 1.125rem;
	color: rgb(236,242,254);
}
.current-winner-block .number-text{
	color:rgb(236,242,254);
}
@media(max-width: 576px){
	.current-winner-block{
		padding: 1rem;
	}

	
	.block-section.challenge-1 .image-section{
		margin-top: 0;
	}
	
}

/**********************************************************
*				free_membership_challenge2.html
**********************************************************/
.block-section.challenge-2 .image-section {
	margin-top: -5rem;
	margin-bottom: 2rem;
	text-align: center;
}
.block-section.challenge-2 .image-section img{
	width: 50%;
}
.block-section.challenge-2 .current-winner-block{
	position:absolute;
	right:-3rem;
}
/* 하단 핵심 문구 */
.block-section.challenge-2 .core-msg-block{
	position: relative;
	margin:2rem auto;
	font-size: 1.125rem;
	/* font-family: "Nanum Myeongjo", serif; */
	text-align: center;
	/* width: fit-content;
	width: -moz-fit-content; */
	border: thick double #ececec; 
	border-radius: 0.5rem;
	padding: 1rem;
}
@media (max-width: 767.99px){
	.block-section.challenge-2 .current-winner-block{
		position: relative;
		padding:1rem;
		margin-bottom: 1rem;
	}
}
/**********************************************************
*			contract_free_membership.html
**********************************************************/
.contract-free-membership-section .contract-papper-block{
	font-family: "Nanum Myeongjo", serif;
}


/**********************************************************
*			registered_free_membership.html
**********************************************************/
.registered-free-membership-section .guide-block{
	font-size: 0.95rem;
	border: 1.5px solid #dbdbdb;
	padding: 1rem;
	border-radius: 0.5rem;
	position: relative;
}

.registered-free-membership-section .guide-block::before{
	position: absolute;
	left: 1rem;
	top: -0.5rem;
	content: '예시';
	background-color: white;
	padding: 0 0.5rem;
	font-size: 0.8rem;
}


