@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/**********************************************************
 *			index.html 
 **********************************************************/
/*
body{
	font-family: 'Open Sans', 'NanumBarunGothic';
}
*/

.container{
	margin-top: 6rem;
}

.fico-index-section .title-section.catchphrase{
	margin: auto auto 2rem auto;
}
.title-section .title-text {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 3.25rem;
	color: #585174;
	font-weight: 600;
}
.title-section .title-text .app-name-text {
	font-size: 2.5rem;
	font-weight: 500;
}
.title-section .app-name-text.super{
	font-size: 0.75rem;
	color: #fff;
	vertical-align: super;
	top: -0.25rem;
	position: relative;
}
.sentence-burger{
	color: #DD191D;
}
.thanx-text{
	font-family: 'Corbel';
   /* font-weight: 600; */
   font-size: 1.5rem;
   display: inline-block;
   color: #FFE05A;
   width: 100%;
}
.thanx-text{
	color: #fff;
	text-align: center;
	margin: 25px 0;
	word-spacing: 5px;
}
/* 
.catchphrase{
	height: 2.2rem;
	height: 48px;
	font-size: 1.125rem;
	text-align: right;
	margin-top: 23px; 
	margin-bottom: 5px;
}
.catchphrase .eng{
	height: 1.5rem;
	display: block;
}
.catchphrase .upper-text{
	font-size: 10px;
	transform:scale(0.5);
	 display: inline-block;
	vertical-align: super;
	border: 0.5px solid var(--fc-yellow);
	border-radius: 50%;
	padding: 0 3px;
    right: -7px;
    top: -2px;
} 
*/
.catch-phrase-section{
	/* margin-top: 20vh; */
	/* margin-bottom: 3rem; */
	padding: 5rem;
	font-size: 1.75rem;
	font-family: 'Dubai', sans-serif;
}
.catchphrase .upper-text{
	font-size: 0.75rem;
	display: inline-block;
	line-height: 1rem;
	border: 1px solid var(--fc-purple);
	border-radius: 50%;
	padding: 0 3px;
	right: -1.5em;
	bottom: 2.25em;
}
.catch-phrase-section .subtext{
	font-size: 1.1rem; 
	line-height: 50%;
}
.title-section .sub-title {
	 font-family: 'Chosunilbo_myungjo';
   /*font-size: .75rem;*/
   font-size: 1.25rem;
   color: var(--fc-yellow);
   background:  linear-gradient(to right, #24243e, #302b63, #0f0c29);
   padding: 0.7rem;
   border-radius: 5px;
}
@media (max-width: 767px) {
	.fico-index-section .title-section.catchphrase{
		margin: auto auto 0.5rem auto;
	}

	.title-section .title-text {
		font-size: 1.75rem;
	}
	.title-section .title-text .app-name-text {
		font-size: 1.25rem;
	}
	.title-section .sub-title {
		font-size: 1.125rem;
	}
	.sub-title .eng{
		font-size: 1.35rem;
	}
	.thanx-text{
	   color: #0a214a;
	}
	.thanx-text{
	   margin: 0 0 5px 0;
	}
	/* .catchphrase{
	    margin: 1rem 0;
		font-size: 0.75rem;
	}
	.catchphrase .upper-text{
		border: 0.5px solid #0a214a;
	} */
	.catch-phrase-section{
		padding-left: 0;
		padding-right: 0;
	}
	.catchphrase .upper-text{
		bottom: 1.75em;
	}
	.catch-phrase-section .subtext{
		line-height: 100%;
	}
}
.service-type-section{
	/* margin-bottom: 5rem; */
	padding: calc(50px + 1.5rem);
	padding-top: 0;
	background-color: #262841;
	border-radius: 5px;
}

.service-type-section .title-section:nth-child(1){
	margin-bottom: 3rem;
	text-align: center;
}
.service-type-section .title-section:last-child{
	margin-top: 3rem;
}
@media (max-width: 767px) {
	.sub-title .eng{
		color: #0a214a;
	}

	.service-type-section{
		padding:0;
		background-color: transparent;
	}
	.service-type-section .title-section:nth-child(1){
		margin-bottom: 1rem;
		text-align: left;
	}
	.service-type-section .title-section:last-child{
		margin-top: 1rem;
	}
}
/**/
.sub-block {
	width: 32%;
	position: relative;
	background-color: #fff;
	margin: auto;
	padding: 1rem;
	/*height: 15vw;*/
	border-radius: 5px;
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);*/
	box-shadow: rgb(0 0 0 / 6%) 0px 2px 4px 0px inset;
}
.service-list .sub-block:nth-child(1) {
	background: radial-gradient(#E68181, #cc0303, #660202);
	margin-left: 0;
}
.service-list .sub-block:nth-child(3) {
	background: radial-gradient(#fff 60%, var(--slate));
}
.service-list .sub-block:nth-child(5) {
	background: radial-gradient(#809BCA, #003695, #001B4B);
	margin-right: 0;
}
.service-list .sub-block:nth-child(1) .title,
.service-list .sub-block:nth-child(5) .title{
	color: #fff;
}
.service-list .sub-block:nth-child(1) .sub-title,
.service-list .sub-block:nth-child(5) .sub-title{
	color: #fff;
}
.sub-block .title{
	font-family: 'Open Sans', 'NanumBarunGothic';
	color: #000;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 0.25rem;
}
.sub-block .sub-title{
	font-family: 'Open Sans', 'NanumBarunGothic';
	/*color: #eaeaf1;*/
	color: #969696;
	/*font-weight: bold;*/
	font-size: .8rem;
}

.service-list .icon-section{
	height: 75%;
	text-align: right;
	color: #5169e6;
}
/* 서비스 안내 영역 */
.service-info-list > div{
	width: 100%;
	/*margin: 0 auto;*/
	background-color: #e4e4e4;
	padding: 1rem;
	position: relative;
	border-radius: 5px;
	margin-top: 0.5rem;
}
.service-info-list .workbook-info{
	background: 
	center/cover no-repeat url('https://static.findsvoc.com/images/app/index/red-round-1.svg'),
	top/150% url('https://static.findsvoc.com/images/app/index/red-round-2.svg'), 
	center/cover no-repeat url('https://static.findsvoc.com/images/app/index/red-round-3.svg'),
	url('https://static.findsvoc.com/images/app/index/red-round-4.svg') #f4f9ff;

}
.service-info-list .hellobook-info{
	background: url('https://static.findsvoc.com/images/app/index/gray-wave.svg');
	background-position-y: 90%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fafafa;
}
.service-info-list .battle-craft-info{
	background: url('https://static.findsvoc.com/images/app/index/blue-scatter.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f1f7fd;
}
.service-info-list .workbook-info::before{
	left: calc(16.66% + 2px);
	border-bottom: 1rem solid #f4f9ff;
}
.service-info-list .battle-craft-info::before{
	left: calc(83.99% + 2px);
	border-bottom: 1rem solid #f1f7fd;
}
/* 서비스 안내 영역 - 말풍선 화살표 */
.service-info-list > div::before{
	content: '';
	position: absolute;
	top: -2rem;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-bottom: 1rem solid #fafafa;
	border-top: 1rem solid transparent;
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
}
.service-info-list .link-section{
	text-align: right;
	font-weight: bold;
}
/* 서비스 안내 영역 - 텍스트 */
.service-info-list h5{
	font-family: 'Open Sans', 'NanumBarunGothic';
	color: var(--fc-purple);
	font-weight: bold;
}
.service-info-list .msg{
	color: #310909;
	display: block;
	margin-bottom: 0.5rem;
}
.service-info-list b{
	color: #670e0e;
}
/* 서비스 안내 영역 - 로티 애니메이션 */
.sub-block .lottie-section{
	width: 100%;
	height: 200px;
	margin: auto;
	margin-bottom: 0.5rem;
}
@media (max-width: 991px) {
	.sub-block {
		width: 100%;
		margin-bottom: 0.5rem;
		height: auto;
		border-radius: 5px;
	}
	.service-info-list > div{
		width: 100%;
		position: relative;
		margin-top: 0;
		margin-bottom: 0.5rem;
		background-color: #e4e4e4;
	}
	/* 서비스 안내 영역 - 로티 애니메이션 */
	.service-info-list .lottie-section{
		width: 250px;
		height: 250px;
	}
	.service-info-list .hellobook-info{
		background-size: auto;
	}
	
	.service-list .sub-block:nth-child(1) {
		background: radial-gradient(#E68181, #cc0303, #660202);
	}
	.service-list .sub-block:nth-child(5) {
		background: radial-gradient(#809BCA, #003695, #001B4B);
	}
}
@media (max-width: 768px) {
	.sub-block {
		padding: 0.5rem;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	}
	/* 서비스 안내 영역 - 로티 애니메이션 */
	.sub-block .lottie-section{
		width: auto;
		height: 150px;
	}
}
/*------------------------------------------------------------------------------
                                 workbook_menu.html
 -----------------------------------------------------------------------------*/
/* 인덱스 메뉴 */
.index-menu-section{
	position: absolute;
	top: 4rem;
	right: 6rem;
	width: calc(100% - 12rem);
	padding: 0;
	z-index: 1000;
}
@media (max-width: 991px) {
    .index-menu-section{
		top: 3rem;
		right: 3.5rem;
		width: calc(100% - 7rem);
		padding: 0;
		z-index: 1000;
	}
}
@media (max-width: 767px) {
    .index-menu-section{
		top: 2rem;
		right: 0rem;
		padding: 0;
		width: 100%;
	}
}