@charset "UTF-8";
/**
 * js/app/keepword.js 모듈용 스타일 정의
 */
/* 보관 단어 뜻 껍질 겉면 */
.peel-top {
	font-size: 8px !important;
	background-color: #d9edfa;
}

/* 보관 단어 뜻 내용 */
.peel-bottom {
	background: transparent;
	text-align: center;
	white-space: nowrap
}

/* 보관 단어 뜻 껍질 속면 */
.peel-back {
	background-color: #c2f5ff;
}
/* 보관 버튼 */
.keep-word-btn {
	position: absolute;
	border: none;
	border-radius: 5px;
	/*color: #66A3DA;*/
	color: #019c9e;
	top: -17px;
	left: var(--offset);
	/*background: #fff;*/
	padding: 3px;
	/*transform-origin: 0px 18px;*/
	animation: keep-word-present .3s;
	/*box-shadow: -2px 2px 5px #aaa;*/
}
.keep-word-tail {
	/*content: '';*/
	position: absolute;
	visibility: visible;
	top: 50%;
	left: 50%;
	width: 3px;
	padding:2px;
	height: 3px;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border-radius: 15px;
}
@keyframes keep-word-present {
	0% {
		scale: 0 0;
	}
	100% {
		scale: 1;
	}
}
.processing .keep-word-btn {
	transform-origin: center;
	animation: keep-word-processing-box 1s forwards;
}
@keyframes keep-word-processing-box {
	50% {
		background: #fff;
		scale: 1;
	}
	70% {
		scale: 120% 90%;
	}
	90% {
		scale: 95% 105%;
	}
	100% {
		background: var(--fc-yellow);
		scale: 1;
	}
}
.processing .keep-word-tail {
	visibility: visible;
	animation: keep-word-processing-ball 1s forwards;
}
@keyframes keep-word-processing-ball {
	5% {
	}
	10% {
		background-color: var(--bs-red);
		transform:translateX(-15px) scale(1.5);
	}
	70% {
		background-color: var(--bs-red);
		transform:translateX(-50%) scale(4);
		z-index: -1;
	}
	90% {
		background-color: var(--fc-yellow);
		transform:translateX(-50%) scale(3);
		z-index: -1;
	}
	100% {
		z-index: -1;
		background-color: var(--fc-yellow);
		transform:translateX(-50%) scale(3);
		rotate: 360deg;
	}
}

/* 보관 해제 버튼 */
.unkeep-word-btn {
	position: absolute;
	line-height: 1.5rem;
	z-index: 1;
	color: var(--fc-yellow);
}
