.feature-section{
	box-shadow: rgb(185 185 185) 3px 1px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
	background-color:  var(--white);
}
/* 멤버십 안내 블록 */
.feature-block{
	padding: 1rem 0.5rem;
	border-radius: .25rem;
}
/* 멤버십 안내 블록 배경색 */
/**/
/* 멤버십 안내에서 각 특징별 아이콘 */
.feature .feature-icon{
	font-size: 5rem;
}
.feature:nth-child(1) .feature-icon{
	width: 5rem;
	filter: opacity(0.6) drop-shadow(0 0 0 #03ff00);
}
.feature:nth-child(2) .feature-icon{
	/*color: #ffc107;*/
	color: #ff8f00;
}
.feature:nth-child(3) .feature-icon{
	/*color: #8f1a5a;*/
	color: #d90479;
}
.feature:nth-child(4) .feature-icon{
	/*color: #005083;*/
	color: #0a3ee2;
}
/* 멤버십 안내에서 특징별 텍스트 강조 색상 */
.feature:nth-child(1) .feature-block b{
	color: rgb(59, 63, 123);
}
.feature:nth-child(2) .feature-block b{
	color: #ffc107;
}
.feature:nth-child(3) .feature-block b{
	color: #8f1a5a;
}
.feature:nth-child(4) .feature-block b{
	color: #005083;
}

/* 멤버십 상품 */
.membership-list{
	position: absolute;
	top: 0;
	height: calc(100% - 12rem);
	margin-bottom: 3rem;
}
.membership-block.selected{
	border: 3px solid var(--fc-purple);
}
.membership-info-parent:nth-child(1),
.membership-info-parent:nth-child(2){
	margin-bottom: 1rem;
}
.membership-info-parent:nth-child(2n-1) .membership-block{
	margin-right: 0.5rem;
	background-color: aliceblue;
	height: 100%;
}
.membership-info-parent:nth-child(2n) .membership-block{
	margin-left: 0.5rem;
	background-color: #f1f0ff;
	height: 100%;
}
/* 멤버십 이미지 */
.membership-info .membership-image img{
	width: 5rem;
	height: 5rem;
}
/*.membership-info-parent:nth-child(3) .membership-image::after,
.membership-info-parent:nth-child(4) .membership-image::after{
	display: inline-block;
	font-style: normal;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 5px;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 1.5rem;
	content: "\f108";
	background-color: #f9d37a;
	color: var(--fc-purple);
	padding: 0.25rem 0.5rem;
}*/

/* 가입 모달 창 */
#done-info-modal .modal-header{
	border-bottom: 2px solid rgba(255,255,255,0.25);
}
#done-info-modal .modal-content{
	color: #fff;
	background: #323857bf;
	backdrop-filter: blur( 7px );
	-webkit-backdrop-filter: blur( 7px );
	border: 1px solid rgba(255,255,255,.05);
}
#done-info-modal .input-form-section .help-text-section span{
	color: #dadada
}
#done-info-modal .payment-phase .qr-images-section .text-danger{
	font-weight: bold;
}
@media (max-width: 1200px) {
	.membership-list{
		position: static;
		top: 0;
		margin-bottom: 0;
	}
}

@media (max-width: 576px) {
	/* 모바일 멤버십 아이템 */
	/*
	.gallery {
	  background: #EEE;
	}
	*/
	.gallery-cell {
		width: 85%;
		height: auto;
		margin-right: 10px;
		padding: 1rem 2rem;
		background: #8C8;
		border-radius: 2rem;
	}
	.gallery-cell:nth-child(1) {
		background: 
		center/cover no-repeat url(https://static.findsvoc.com/images/common/bubble/round-1.svg),
		top/100% no-repeat url(https://static.findsvoc.com/images/common/bubble/round-4.svg) 
		rgb(126, 171, 202)
	}
	.gallery-cell:nth-child(2) {
		background: 
		top/150% no-repeat url(https://static.findsvoc.com/images/common/bubble/round-1.svg),
		top/130% no-repeat url(https://static.findsvoc.com/images/common/bubble/round-2.svg)
		#ffe8a8;
	}
	.gallery-cell:nth-child(3) {
		background: 
		top/160% no-repeat url(https://static.findsvoc.com/images/common/bubble/round-3.svg),
		top/160% no-repeat url(https://static.findsvoc.com/images/common/bubble/round-4.svg)
		#f2522f;
	}
	.gallery-cell:nth-child(4) {
		background: 
		center/cover no-repeat url(https://static.findsvoc.com/images/common/bubble/round-2.svg),
		center/cover no-repeat url(https://static.findsvoc.com/images/common/bubble/round-4.svg)
		 #abf1c3;
	}
	
	.membership-section .membership-image img{
		/*height: 250px;*/
		/*width:100%;*/
		height: 200px;
	}
	.membership-section .membership-info{
		background-color: #fff;
		border-radius: 1.5rem;
		padding: 1rem;
		position: relative;
	}
	.membership-section .membership-info .membership-name-text{
		font-family: 'NanumBarunGothic';
	}
	
	.membership-section .membership-info .membership-price-text{
		font-family: 'NanumBarunGothic';
		font-size: 1.25rem;
		font-weight: bold;
	}
	
	.membership-section .membership-info .buy-icon-section .icon{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
	}
}

.membership-section .need-donation{
	background-color: #fff0f0;
	color: #403838;
	position: absolute;
	bottom: 0;
	/*width: calc(100% - 3rem);*/
	height: 10rem;
}
.membership-section .need-donation .text{
	width: 90%;
}
/*.membership-section .need-donation b{
	font-family: 'RIDIBatang';
	font-size: 1.3rem;
}*/
.membership-section .service-core{
	text-align: center;
}
@media (max-width: 992px) {
	.membership-section .need-donation{
		position: static;
		width: 100%;
		height: auto;
	}
	
	.membership-section .need-donation .text{
		width: 100%;
	}
	
	.membership-section .service-core{
		text-align: left;
	}
}

.membership-feature-title{
	color:#005083;
}

.membership-section .feature-block .feature-text .comment{
	margin-top: 1rem;
	color:#005083;
	font-size: .8rem;
}