/*------------------------------------------------------------------------------
                    ssamclass_submenu.html
 -----------------------------------------------------------------------------*/
/* 메인 블럭 */
.main-block{
	position:relative;
	padding-top: 3rem;
}
.main-block::before{
	position:absolute;
	content: '';
	width: 100vw;
	left: calc((-100vw + 1250px)/2);
	top: 0;
	border-top: 2px groove #aca2d5;
}
.sub-menu a{
	color: var(--fc-purple)!important;
}
.sub-menu i{
	width: 1.25rem;
}
.sub-menu .menu-text{
	font-weight: bold;
}
/* 학원 프로필 영역 */
.sub-menu-section{
	padding-top: 0;
	padding-right: 1.5rem;
}
.sub-menu-section .personacon{
	background-color: var(--white);
	border-radius: 0.5rem;
	padding: 2rem;
	box-shadow: #62626214 0px 2px 1px 0px inset;
}
/* 좌측메뉴의 서브 메뉴 영역 */
.sub-menu-section .sub-menu{
	padding-left: 0.5rem;
}

/*------------------------------------------------------------------------------
                    index.html
 -----------------------------------------------------------------------------*/
.board-section,
.open-classbook-section,
.list-article-section{
	margin-bottom: 3.5rem;
}
/* 공지, 커뮤니티 게시판 영역 */
.board-section .notice-list{
	min-height: 3.75rem;
	position: relative;
	/* width: calc(50% - 0.5rem); */
	border-radius: 5px;
	background-color: var(--white);
	padding: 1rem;
	/* margin-bottom: 0.5rem; */
	/* box-shadow: #62626214 0px 2px 1px 0px inset; */
}
.board-section .notice-list .notice{
	padding-bottom: 1rem;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 1rem;
}
.board-section .notice-list .notice:last-child{
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
/* 워크북 영역 */
.open-classbook-section .book-unit{
	width: 20%;
	margin-bottom: 1.5rem;
}
.open-classbook-section .book-unit .book-cover{
	width: 10rem;
	height: 15rem;
}
.open-classbook-section .book-unit .book-cover .book-image{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.open-classbook-section .book-unit .book-title{
	padding-top: 0.5rem;
	text-align: center;
	font-weight: 600;
}

/* article 영역 */
.list-article-section .article-block .article{
	background-color: #fff;
	height: 10rem;
	padding: 1rem;
	border-radius: 0.5rem;
}

.class-name{
	border-bottom: 2px solid gold;
	color: #8f0c56;
    padding-bottom: 0.1rem;
}
/**/
