/*----------------------------------------------------------------------------*/
/* 									문법마크 									  */
/*	<구현 문법 태그>
	문장 필수 성분:	s(주어), v(동사), o(목적어), c(보어), oc(목적보어), a(부사적 보충어),
				po(전치사 목적어), to(부정사 목적어), go(동명사 목적어), ptco(분사 목적어),
				appo(동격)
	말뭉치:	tor(to부정사), ptc(분사), conj(접속사)
			phr(전치사구), adjphr(형용사구), advphr(부사구), ptcphr(분사구문)
			cls(절), ncls(명사절), acls(형용사절), advcls(부사절), ccls(등위절)
	기타:		rcm(선행사. 수식어와 세트)		
------------------------------------------------------------------------------*/
.semantics-result {
	position: relative;
	margin: 0;
	font-family: 'Corbel', sans-serif;
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: normal;
	display: block;
	width: calc(100% - 2rem);
}
@media (max-width: 767px) {
	.semantics-result {
		width: 100%;
	}
}
@media (max-width: 576px) {
	.semantics-result {
		font-family: 'Frutiger', sans-serif;
		font-size: 1.125rem;
		word-break: break-all;
	}
}
/* 프린트를 보는 사람에겐 보다 많은 양을 보여주고 스타일링을 위해 글자를 작게 */
@media print {
	:root {
		font-size: 12px;
	}
	.semantics-result {
		word-break: break-all;
	}
}
/* @media (max-width: 1199.5px) {
	.semantics-result {
		margin: 0 0.5rem;
	}
} */
.semantics-result .sem {
	position: relative;
	/*vertical-align: bottom;*/
}
.semantics-result .line-end {
	font-size: 1rem;
	vertical-align: bottom;
}
.semantics-result .curved_arrow {
	z-index: 2;
}
/* ----------------------------[코멘트 정렬]------------------------------------ */
/* 중간정렬:rcomment */
.sem.cmnt-align-center[data-rc]::before {
	width: 100%;
	text-align: center;
	left: 0rem;
}
.sem.cmnt-align-center[data-rc].odd::before {
	left: var(--indent)!important;
	text-align: left;
	width: auto;
}
/* 중간정렬:gcomment */
.sem.cmnt-align-center[data-gc]::after {
	left: 0rem;
}
/* 왼쪽정렬:rcomment,gcomment */
.sem.cmnt-align-start[data-rc]::before, 
.sem.cmnt-align-start[data-gc]::after {
	left: 0.5rem;
}
/* 코멘트는 포인터 이벤트 무효(순수 텍스트 */
.sem[data-rc]::before, .sem[data-gc]::after {
	z-index: 3;
	pointer-events: none;
}
/* data-rc가 있으면 rcomment표시 
 * 구,절의 rcomment는 표시용이 아님.
 */
.sem[data-rc]:not([class*="cls"])::before {
	content: attr(data-rc);
	line-height: 0.8rem;
}

/* 주절의 성분(내부 성분 없음)에는 밑줄 표시*/
.sem.inner {
	--dotted-border-svg: url(https://static.findsvoc.com/images/app/tandem/dotted_border_bottom.svg);
    border-bottom: solid 0.3rem;
    border-left: solid 1px;
    border-right: solid 1px;
    padding-bottom: 0.6rem;
    border-image: var(--dotted-border-svg) 0 13 19 13 / 3 / 0px repeat;
    border-image-width: 0 0.25rem 1rem 0.25rem
}
.sem.outer .sem.inner {
	border: none;
}
/* 필수성분 기본 rcomment */
.sem[data-rc]::before {
	font-family: 'Nanum Gothic', sans-serif;
}
.sem.inner[data-rc]::before {
	position: absolute;
	top: 2.125rem;
	font-size: 0.8rem;
	font-style: italic;
}
.sem.inner[data-rc].odd::before {
	top: auto;
	bottom: -0.85rem;
}
.sem.inner.cmnt-align-start[data-rc]::before,
.sem.outer.cmnt-align-start[data-rc]::before {
	width: auto;
}
/* 필수성분 속의 필수성분 rcomment */
.sem.outer .sem.inner[data-rc]::before {
	font-size: 0.5rem;
	top: 1.5rem;
}
.sem.outer .sem.inner.odd[data-rc]::before {
	top: auto!important;
	bottom: -0.25rem;
}
/* 자식 필수성분을 갖는 필수성분의 rcomment */
.sem.outer[data-rc]::before {
	position: absolute;
	top: 2.625rem;
	/* overflow-x: clip; */
	text-overflow: ellipsis;
	font-size: 0.8rem;
	font-style: italic;
}
.sem.outer[data-rc].odd::before {
	top: auto!important;
	bottom: -0.875rem;
}
/* 자식 S,V,O,C를 갖는 S,V,O,C는 밑줄을 긋고 rcomment 표시 */
.sem[data-lv="2"][data-rc]::before {top: 3.875rem;}

.sem[data-lv="3"][data-rc]::before {top: 5.125rem;}

.sem[data-lv="4"][data-rc]::before {top: 6.375rem;}

.sem[data-lv="5"][data-rc]::before {top: 7.375rem;}

.sem[data-lv][data-rc] {
	border-bottom: dashed 1px #3388DD;
	background-clip: content-box;
}

/* data-lv 1(자식svoc를 가짐)부터는  */
.sem[data-lv="1"][data-rc]/*,.sem[data-lv="1"][data-rc]::after*/ {
	padding-bottom: 1.05rem;
}
.sem[data-lv="2"][data-rc]/*,.sem[data-lv="2"][data-rc]::after*/ {
	padding-bottom: 2.35rem;
}
.sem[data-lv="3"][data-rc]/*,.sem[data-lv="3"][data-rc]::after*/ {
	padding-bottom: 3.55rem;
}
.sem[data-lv="4"][data-rc]/*,.sem[data-lv="4"][data-rc]::after*/ {
	padding-bottom: 4.75rem;
}
.sem[data-lv="5"][data-rc]/*,.sem[data-lv="5"][data-rc]::after*/ {
	padding-bottom: 5.95rem;
}
/* data-gc가 있으면 gcomment표시 */
.sem[data-gc]::after {
	content: attr(data-gc);
	font-family: 'Nanum Gothic';
	line-height: 0.625rem;
	width: max-content;
}
/* S,V,O,C 기본 gcomment */
.sem.inner[data-gc]::after {
	position: absolute;
	top: -0.625rem;
	font-size: 0.625rem;
}
/* S,V,O,C 속의 S,V,O,C gcomment */
.sem.outer .sem.inner[data-gc]::after {
	font-size: 0.625rem;
}
/* 자식 S,V,O,C를 갖는 S,V,O,C의 gcomment */
.sem.outer[data-gc]::after {
	position: absolute;
	top: -0.625rem; /*1.9rem;*/
	width: 9.375rem;
	font-size: 0.625rem;
}
.sem[data-gc][data-gc-lv="1"]::after {
	top: -1.5rem;
	left: 0.5rem;
    margin-left: 0.125rem;
	z-index: 2;
}
.sem[data-gc][data-gc-lv="2"]::after {
	top: -2.25rem;
	left: 0.5rem;
    margin-left: 0.125rem;
	z-index: 1;
}


/* 주어(+ rcomment) 글자색 */
.sem.s.inner, .sem.s.outer[data-rc]::before {color: #283593;}
/* 의미상주어(+ rcomment) 글자색 */
.sem.ss.inner, .sem.ss.outer[data-rc]::before {color: #283593;}
/* 목적어(+ rcomment) 글자색 */
.sem.o.inner, .sem.o.outer[data-rc]::before {color: #006379;}
/* 전치사 목적어,부정사 목적어,동명사 목적어,분사 목적어(+ rcomment) 글자색 */
.sem.po.inner, .sem.po.outer[data-rc]::before,
.sem.to.inner, .sem.to.outer[data-rc]::before,
.sem.go.inner, .sem.go.outer[data-rc]::before,
.sem.ptco.inner, .sem.ptco.outer[data-rc]::before {color: #006379;}
/* 보어,부사적 보충어(+ rcomment) 글자색 */
.sem.c.inner, .sem.c.outer[data-rc]::before,
.sem.a.inner, .sem.a.outer[data-rc]::before {color: #5f008f;}
/* 동사(+ rcomment) 글자색 */
.sem.v.inner, .sem.v.outer[data-rc]::before {color: #A91461;}
/* 목적보어(+ rcomment) 글자색 */
.sem.oc.inner, .sem.oc.outer[data-rc]::before {color: #8080c0;}
/* 수식어, 동격(+ rcomment) 글자색 */
.sem.m.inner, .sem.m.outer[data-rc]::before,
.sem.appo.inner, .sem.appo.outer[data-rc]::before {color: #0080ff;}
/* to부정사,동명사 글자색 */
/*.sem.tor, .sem.ger {color: #795548;}*/
/* 분사 글자색 */
/*.sem.ptc {color: #794865;}*/

/* 선행사 gcomment */
.sem.rcm[data-gc]::after {
	color: #ffb266;
	position: absolute;
	top:-0.625rem;
	left: auto!important;
	right: 0.5rem;
	font-size: 0.5rem;
	min-width: 2rem;
}
.sem.rcm.cmnt-align-start[data-gc]::after{
	left: -1rem!important;
}

/* 괄호 위치 */
/* 괄호가 바깥 여백을 가지지 않도록 마진 조정 */
.semantics-result :not([class*="cmnt-align"])[class*="-start"], 
.semantics-result :not([class*="cmnt-align"])[class*="-end"] {
	user-select: none;
	position: relative;
	z-index: 1;
}
/* [대괄호] 절 괄호 스타일 */
.cls-start, .cls-end {
	color: #93baf4;
	font-size: 1.6rem;
	top: 0.18rem;
	font-family: 'Heebo';
	font-weight: 650;
}
/* 형용사절 괄호 색 */
.acls.cls-start, .acls.cls-end {color: #93baf4;}
/* 부사절 괄호 색 */
.advcls.cls-start, .advcls.cls-end {color: #f9c509;}
/* 명사절 괄호 색 */
.ncls.cls-start, .ncls.cls-end {color: #7eb8cf;}
/* 괄호 중첩 수에 따른 괄호 크기 */
.cls-start[data-lv="1"], .cls-end[data-lv="1"] {
	top: 1.02rem;
	font-size: 2.8rem;
	font-weight: 360/* 180 */;
}
.cls-start[data-lv="2"], .cls-end[data-lv="2"] {
	top: 2.1rem;
	font-size: 4.32rem;
	font-weight: 260;
}
.cls-start[data-lv="3"], .cls-end[data-lv="3"] {
	top: 3.1rem;
	font-size: 5.8rem;
	font-weight: 180;
}
.cls-start[data-lv="4"], .cls-end[data-lv="4"] {
	top: 4.05rem!important;
    font-size: 7.2rem!important;
	font-weight: 140;
}
.cls-start[data-lv="5"], .cls-end[data-lv="5"] {
	top: 5.05rem!important;
    font-size: 8.7rem!important;
	font-weight: 100;
}
/* 괄호로 인해 양옆 단어의 공간이 너무 벌어지지 않도록. */
.cls-start {margin: 0 0.025rem 0 -0.125rem;}
.cls-end {margin: 0 -0.11rem 0 -0.005rem;}
.cls-start[data-lv="1"] {margin: 0 0.03rem 0 -0.24rem;}
.cls-end[data-lv="1"] {margin: 0 -0.21rem 0 -0.02rem;}

.cls-start[data-lv="2"] {margin: 0 0.05rem 0 -0.38rem;}
.cls-end[data-lv="2"] {margin: 0 -0.37rem 0 0.03rem;}

.cls-start[data-lv="3"] {margin: 0 0.1rem 0 -0.5rem;}
.cls-end[data-lv="3"] {margin: 0 -0.45rem 0 0.05rem;}

.cls-start[data-lv="4"] {margin: 0 0.085rem 0 -0.65rem;}
.cls-end[data-lv="4"] {margin: 0 -0.55rem 0 0.01rem;}

.cls-start[data-lv="5"] {margin: 0 0.085rem 0 -0.65rem;}
.cls-end[data-lv="5"] {margin: 0 -0.55rem 0 0.01rem;}
/* [소괄호] 등위절 괄호 스타일*/
.ccls-start, .ccls-end {
	color: #8d6e63;/* #ef6c00; */
	top: 0.08rem;
	font-size: 1.2rem;
	font-weight: 700;
	font-family: 'Cardo';
	margin-right: -0.1rem;
	margin-left: -0.1rem;
}
/*	[소괄호] 전치사구,접속어 괄호 스타일 */
.phr-start, .phr-end,
.adjphr-start, .adjphr-end,
.conj-start, .conj-end {
	font-family: 'Poller One';
	top: 0.05rem;
	font-size: 1rem;
	font-weight: 400;
}
/* 전치사구 괄호 색 */
.phr-start, .phr-end {color: #e6821f;}
/* 형용사구(형용사적 전치사구) 괄호 색 */
.adjphr-start, .adjphr-end {color: #bc79ff;}
/* 접속어(등위어) 괄호 색 */
.conj-start, .conj-end {color: #FFCC99;}
/* 괄호가 단어와 벌어지지 않도록. */
.phr-start, .adjphr-start, .conj-start {margin-right: 0.1rem;}
/* 괄호가 단어와 벌어지지 않도록. */
.phr-end, .adjphr-end, .conj-end {margin-left: 0.1rem;}
/* [점선 대괄호] 그 밖(절X,구X)의 괄호 스타일 */
[class*="etc-"] {
	font-family: 'Raleway Dots', sans-serif;   
	color: #93baf4;
	font-weight: 350;
}
[class*="etc-"][data-lv="1"] {
    top: 1.3rem;
	font-size: 3.55rem;
	font-weight: 180;
}
[class*="etc-"][data-lv="2"] {
	top: 2.6rem;
	font-size: 5.5rem;
	font-weight: 100;
}
[class*="etc-"][data-lv="3"] {
	top: 3.75rem;
	font-size: 7.3rem;
	font-weight: 100;
}
[class*="etc-"][data-lv="4"] {
	top: 4.925rem;
	font-size: 9.25rem;
	font-weight: 100;
}
[class*="etc-"][data-lv="5"] {
	top: 5.925rem;
	font-size: 11.05rem;
	font-weight: 100;
}
.etc-start[data-lv="1"] {
	margin: 0 -0.15rem 0 -0.35rem;
}
.etc-end[data-lv="1"] {
	margin: 0 -0.35rem 0 -0.15rem;
}
.etc-start[data-lv="2"] {
	margin-left: -0.53rem;
	margin-right: -0.2rem;
}
.etc-end[data-lv="2"] {
	margin-left: -0.2rem;
	margin-right: -0.5625rem;
}
.etc-start[data-lv="3"] {
	margin-left: -0.6875rem;
	margin-right: -0.25rem;
}
.etc-end[data-lv="3"] {
	margin-left: -0.27rem;
	margin-right: -0.5rem;
}
.etc-start[data-lv="4"] {
	margin-left: -0.8rem;
	margin-right: -0.275rem;
}
.etc-end[data-lv="4"] {
	margin-left: -0.27rem;
	margin-right: -0.8rem;
}
.etc-start[data-lv="5"] {
	margin-left: -0.8rem;
	margin-right: -0.275rem;
}
.etc-end[data-lv="5"] {
	margin-left: -0.27rem;
	margin-right: -0.8rem;
}

/* 구,절,to부정사,분사,동명사의 gcomment */
.sem[data-gc]::after {
	position: absolute;
	left: 0.5rem;
	top: -0.625rem;
	width: max-content;
	font-size: 0.5rem;
	font-family: 'NanumBarunpen'/* 'Nanum Gothic' */;
	color: #2440a8;/* #24a8a8; */
}
/* 자신이 두 줄 이상에 걸쳐 있고, gcomment가 두 번째 줄의 시작에 위치할 때*/
.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc]::after {
	left: calc(0.5rem + var(--indent))!important;
	top: auto!important;
	bottom: 1.55rem/*2.0rem*/;
}
.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc][data-lv="1"]::after {
	bottom: 2.4rem;
}
.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc][data-lv="2"]::after {
	bottom: 3.75rem;
}
.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc][data-lv="3"]::after {
	bottom: 5rem;
}
.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc][data-lv="4"]::after {
	bottom: 6.125rem;
}
.sem.rcm.odd[data-gc]::after {
	left:auto!important;
	right: calc(0.5rem - var(--indent));
	bottom: 1.25rem;
}
.sem.odd[data-gc-lv="1"]::after {
	bottom: 2.4rem!important;
}
.sem.odd[data-gc-lv="2"]::after {
	bottom: 3.15rem!important;
}
.sem.odd[data-gc-lv="3"]::after {
	bottom: 3.75rem!important;
}
.sem.odd[data-gc-lv="4"]::after {
	bottom: 4.5rem!important;
}

/* 명사절 배경색 */
.sem.ncls {background-color: #ccff90;}
/* 형용사절 배경색 */
.sem.acls {background-color: #e7e9fd;}
/* 부사절 배경색 */
.sem.advcls {background-color: #ffee80;}

/* 모바일 스타일 */
@media (max-width:767px) {
	.sem.inner {border: none;}
	.sem.inner[data-rc]::before {top:1rem;}
	.sem.outer[data-rc]::before {top:2.25rem;}
	.sem.outer .sem.inner[data-rc]::before {top:1rem;}
	.sem[data-lv="2"][data-rc]::before {top: 3.55rem;}
	
	.sem[data-lv="3"][data-rc]::before {top: 4.75rem;}
	
	.sem[data-lv="4"][data-rc]::before {top: 5.965rem;}
	
	.sem[data-lv="5"][data-rc]::before {top: 7.175rem;}
	.sem.inner[data-rc].odd::before {bottom:-.5rem;}
	.sem.outer[data-rc].odd::before {bottom:-1.25rem;}
	.sem.outer .sem.inner.odd[data-rc]::before {bottom:-1.625rem;}
	.sem[data-gc]::after, .sem.rcm[data-gc]::after {top:-.6rem; font-size:.7rem;font-family: 'NanumBarunGothic';}
	.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc]::after {
		bottom: 1.5rem;
	}
	.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc][data-lv="1"]::after {
		bottom: 2.55rem;
	}
	.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc][data-lv="2"]::after {
		bottom: 3.85rem;
	}
	.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc][data-lv="3"]::after {
		bottom: 5.05rem;
	}
	.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc][data-lv="4"]::after {
		bottom: 6.25rem;
	}
	.sem:not(.s,.ss,.v,.o,.po,.to,.go,.ptco,.c,.oc,.m,.a,.appo).odd[data-gc][data-lv="5"]::after {
		bottom: 7.45rem;
	}
	.sem.rcm.odd[data-gc]::after {
		bottom: 1.5rem;
	}
	.sem[data-gc][data-gc-lv="1"]::after {
		top: -1.5rem;
	}
	.sem.odd[data-gc-lv="1"]::after {
		bottom: 2.3rem!important;
	}
	.sem.odd[data-gc-lv="2"]::after {
		bottom: 2.6rem!important;
	}
	/* 모바일 rcomment는 대개 한 글자이므로 해당 어구의 중앙 정렬 */
	.sem.inner[data-rc]:not(.cmnt-align-start)::before {left: calc(50% - 1.25rem / 2);}
	.sem.cmnt-align-center[data-rc].odd::before {left: calc(var(--indent-min) - 1.25rem / 2)!important;}
	.sem[data-rc].inner::before,
	.sem[data-rc].outer::before{
		position: absolute;
		/*content: attr(data-rc-min);*/
		border: solid 0px;
		padding: 3px;
		text-align: center!important;
		line-height: .75rem;
		font-size: 0.75rem!important;
		font-weight: 600;
		font-style: normal;
		color: white!important;
		border-radius: 1rem;
		word-break: keep-all;
		overflow: hidden;
		min-width: 1.25rem !important;
		max-width: fit-content;
	}
	/* 주어부 rcomment 배경색 */
	.sem.s[data-rc]::before {background: #283593;}
	/* 의미상주어부 rcomment 배경색 */
	.sem.ss[data-rc]::before {background: #283593;}
	/* 목적어부 rcomment 배경색 */
	.sem.o[data-rc]::before {background: #006379;}
	/* 전치사 목적어, 부정사 목적어, 동명사 목적어, 분사 목적어부 rcomment 배경색 */
	.sem.po[data-rc]::before,
	.sem.to[data-rc]::before,
	.sem.go[data-rc]::before,
	.sem.ptco[data-rc]::before {background: #006379;}
	/* 보어부,부사정 보충어부 rcomment 배경색 */
	.sem.c[data-rc]::before,.sem.a[data-rc]::before {background: #5f008f;}
	/* 동사부 rcomment 배경색 */
	.sem.v[data-rc]::before {background: #A91461;}
	/* 목적보어부 rcomment 배경색 */
	.sem.oc[data-rc]::before {background: #8080c0;}
	/* 수식어부, 동격 rcomment 배경색 */
	.sem.m[data-rc]::before,
	.sem.appo[data-rc]::before {background: #0080ff;}
}
/*----------------------------------------------------------------------------*/
/* 플로팅 사전 */
.dictionary-box {
	position: absolute;
	z-index: 5;
	min-width: 300px;
	max-width: 520px;
	background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 30%);
}
.dictionary-box .header h4{
	font-family: 'Open Sans';
	font-weight: 700;
}
/*----------------------------------------------------------------------------*/
/* 토큰 트리 */
.tokentree-result {
	margin-top: 2rem;
	overflow-x: scroll;
	line-height: normal;
}
.tokentree-result table {
	font-family: 'consolas';
	border-collapse: separate;
}

.tokentree-result .node {
	background-color: #ffffff;
	border: solid 1px #1A1A34;
}

.tokentree-result .node-label {
	font-size: 14px;
	color: #C0504D;
}

.tokentree-result .node-index {
	color: #C0504D;
	font-size: 12px;
}

.tokentree-result .node-range {
	color: #1A1A34;
	font-size: 11px;
}

.tokentree-result .node-text {
	color: hsl(220deg 100% 30%);
	font-size: 15px;
}

.tokentree-result .node-part {
	color: #1A1A34;
	font-size: 13px;
}
