@charset "UTF-8";
.edit-svoc {
	position: relative;
	cursor: auto;
	border-style: outset;
	border-radius: 1rem;
	padding-bottom: 10px;
	-ms-user-select: text; 
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
	outline: none;
}
/* 편집기의 종류(추가 혹은 수정)에 따른 스타일 */
.svoc-editor-badge {
	background-color: #B71C1C;
}

/* 편집 상태에 들어간 분석은 왼쪽 들여쓰기 */
.edit-svoc .semantics-result {
	margin-left: 7px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
/* 삭제 모드시 마우스 커서 변환 */
.shift .edit-svoc[data-mode="erasing"] {
	cursor: url('https://static.findsvoc.com/images/app/tandem/eraser32_all.png') 9 31, pointer;
}
.edit-svoc[data-mode="erasing"] {
	cursor: url('https://static.findsvoc.com/images/app/tandem/eraser24_normal.png') 9 23, pointer;
}
/* 각종 기능별 힌트 메세지 */
.semantic-edit-guide-msg {
	font-family: 'NanumSquare';
	text-align: center;
	font-size: 0.8rem;
	border-left: #e91e63 12px double;
	border-right: #e91e63 12px double;
	width: fit-content;
}
.erasing-target,
.erasing-target::before,
.erasing-target::after {
	color: orangered!important;
}
.erasing-target.curved_arrow {
	background: orangered;
}
.comment-target::after {
	content: '문법 코멘트';
	position: absolute;
	top: calc(-0.625rem - 2px);
	height: 1rem;
	width: max-content;
	line-height: 0.625rem;
	font-size: 0.5rem;
	font-family: 'NanumBarunpen';
	color: #2440a8;
	left: 0;
	border: dashed 2px red;
}

.mod-indicator, .mod-start {
	position: absolute;
    font-weight: 100;
    color: #ffcc99;
    font-size: 2.5rem;
    text-shadow: 0 0 1px darkgoldenrod;
    z-index: 5;
}
.svoc-toolbar {
	border: solid 2px #dddd;
	border-radius: 10px;
	padding: 5px;
	background: #f5f5f5;
	width: 100%;
	margin: 0 0 1rem 0;
}
/* 편집 버튼들 스타일 */
.svoc-toolbar button{
	font-family: 'NanumBarunGothic';
	font-weight: 400;
	font-size: 0.75rem;
	min-width: 4rem;
	height: 2.5rem;
	color:inherit;
	background: #fff;
	border-color: #ddd!important;
}
.svoc-toolbar button:hover,.svoc-toolbar button.active{
	mix-blend-mode: darken;
	transform: scale(1.1);
	color:inherit;
}
.navigation-btns button:hover, .navigation-btns button.active {
	color:white;
}
.svoc-btn-marktext {
	display: block;
	font-style: italic;
	transform: scale(0.75) translateY(-30%);
}
.navigation-btns button {
	min-width: auto;
	min-height: auto;
	line-height: 1;
}
@media (min-width: 992px) {
	.navigation-btns {
		position: absolute;
		right: 0.25rem;
	}
}
.svoc-toolbar [disabled] {
	opacity: 0.5;
}
.edit-svoc .sem::before, .edit-svoc .sem::after {
	pointer-events: auto!important;
}
.edit-svoc:not([data-mode="erasing"]) .sem::before,
.edit-svoc:not([data-mode="erasing"]) .sem::after {
	cursor: text;
}

.cls-role-menu,.cls-conj-menu,.edit-comment, .tor-role-menu, .ger-role-menu, .ptc-role-menu {
	margin: 5px 0;
	z-index: 1000;
}